<!--begin::Careers - Apply-->
<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="formData" class="form mb-5" enctype="multipart/form-data">
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Date début</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm"
                     placeholder="" formControlName="dateDebRdv" [ngClass]="{ 'is-invalid': submitted && f.dateDebRdv.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.dateDebRdv.errors" class="invalid-feedback">
                <div *ngIf="f.dateDebRdv.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Heure Début</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input
                type="text"
                matInput
                [ngxTimepicker]="picker"
                [format]="24"
                readonly
                class="form-control form-control-sm"
              />
              <ngx-material-timepicker #picker></ngx-material-timepicker>
              <!--end::Input-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Objet</label>
              <!--end::Label-->
              <!--begin::Input-->
<!--              <editor apiKey="smzz3klhuszc27qjmj9686wdzmo66044qus29j9b6dslotck"-->
<!--                [init]="{-->
<!--                  plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',-->
<!--                  toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',-->
<!--                  tinycomments_mode: 'embedded'-->
<!--                }"-->
<!--              ></editor>-->
              <input type="text" class="form-control form-control-sm"
                     placeholder="" formControlName="objetRdv" [ngClass]="{ 'is-invalid': submitted && f.objetRdv.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.objetRdv.errors" class="invalid-feedback">
                <div *ngIf="f.objetRdv.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a type="reset" routerLink="/crm/rendezvous/rdv" class="btn btn-sm btn-light me-3">
              Annuler
            </a>
            <!--end::Button-->
            <!--begin::Submit-->
            <button type="submit" class="btn btn-sm btn-primary" (click)="onSaveRdv()">
              <ng-container *ngIf="submitting">
                <span class="indicator-progress" [style.display]="'block'">
                  Patientez svp...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="!submitting">
                <span class="indicator-label">Enregistrer</span>
              </ng-container>
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Careers - Apply-->
