<!--begin::Transfert - Apply-->
<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="form" class="form mb-5" enctype="multipart/form-data">
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-3 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Date Estimation</label>
              <!--end::Label-->
              <div class="input-group mb-0">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="dd/mm/yyyy" ngbDatepicker #dateOperation="ngbDatepicker" aria-label="Date opération" aria-describedby="basic-addon6"
                       formControlName="dateOperation"/>
                <!--end::Input-->
                <span (click)="dateOperation.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon6">
                        <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                    </span>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-3 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Type De commission</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select class="form-select form-select-sm mb-2" #typeCommission formControlName="typeCommission">
                <option disabled selected [ngValue]="null">Sélectionnez un type de commission...</option>
                <option *ngFor="let item of typeCommissions" [ngValue]="item">
                  {{ item }}
                </option>
              </select>
              <!--end::Select-->
            </div>
            <!--end::Col-->
            <div class="col-md-3 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Solde</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" [readonly]="true" class="form-control form-control-sm"
                     placeholder="0" formControlName="montant"/>
              <!--end::Input-->
            </div>
            <div class="col-md-3 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Montant Payé</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm"
                     placeholder="0" formControlName="montantCommission"/>
              <!--end::Input-->
            </div>
          </div>
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a type="reset" routerLink="/opcvm/comptabilite/paiement/commission/liste" class="btn btn-sm btn-light me-3">
              Annuler
            </a>
            <!--end::Button-->
            <!--begin::Submit-->
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="form.invalid" (click)="save()">
              <ng-container *ngIf="submitting">
                  <span class="indicator-progress" [style.display]="'block'">
                    Patientez svp...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
              </ng-container>
              <ng-container *ngIf="!submitting">
                <span class="indicator-label">Enregistrer</span>
              </ng-container>
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Paiement Commission - Apply-->
