<!--begin::Careers - Apply-->
<div class="card">
    <!--begin::Body-->
    <div class="card-body p-lg-5">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-lg-row mb-0">
            <!--begin::Content-->
            <div class="flex-lg-row-fluid me-0 me-lg-0">
                <!--begin::Form-->
                <form [formGroup]="entityForm" class="form mb-5">
                    <!--begin::Input group-->
                    <div class="row mb-5">
                        <div class="col-md-12 fv-row">
                            <!--begin::Label-->
                            <label class="required fs-5 fw-semibold mb-2">Personne</label>
                            <!--end::Label-->
                            <!--begin::Select-->
                          <ng-multiselect-dropdown
                            [settings]="personneSettings"
                            [placeholder]="'Sélectionnez une ou plusieurs personne(s)'"
                            formControlName="personne"
                            [data]="personne"
                            [disabled]="false"
                            (onFilterChange)="onFilterChange($event)"
                            (onDropDownClose)="onDropDownClose($event)"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="onDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                          </ng-multiselect-dropdown>
                            <!--<select class="form-select form-select-sm mb-2" formControlName="personne"
                                    [ngClass]="{ 'is-invalid': submitted && f.personne.errors }" >
                                <option selected>Sélectionnez une personne...</option>
&lt;!&ndash;                                <option [defaultSelected]="true" [ngValue]="entity?.monnaieDto" [disabled]="true">&ndash;&gt;
&lt;!&ndash;                                    {{ entity?.monnaieDto?.nom }}&ndash;&gt;
&lt;!&ndash;                                </option>&ndash;&gt;
                                <option *ngFor="let item of personne$" [ngValue]="item">
                                    {{ item.denomination }}
                                </option>
                            </select>-->
                            <!--end::Select-->
                            <div *ngIf="submitted && f.personne.errors" class="invalid-feedback">
                                <div *ngIf="f.personne.errors.required">Ce champs est obligatoire</div>
                            </div>
                        </div>
                        <!--end::Col-->
                        <!--<div class="col-md-3 fv-row">
                            &lt;!&ndash;begin::Label&ndash;&gt;
                            <a type="button" class="btn btn-sm btn-primary" style="margin-top: 30px"
                               (click)="addRow('table_PersonneOpcvm')">
                                Ajouter
                            </a>
                        </div>
                        <div class="table-responsive angular-bootstrap-table">
                            &lt;!&ndash;begin::Table&ndash;&gt;
                            <table id="table_PersonneOpcvm"
                                   class="table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">
                                <thead>
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="min-w-200px" [hidden]="true">ID</th>
                                    <th class="min-w-200px">Dénomination</th>
                                    <th class="text-end min-w-70px">Actions</th>
                                </tr>
                                </thead>
                                <tbody class="fw-semibold text-gray-600">

                                </tbody>
                            </table>
                            &lt;!&ndash;end::Table&ndash;&gt;
                        </div>-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Separator-->
                    <div class="separator mb-8"></div>
                    <!--end::Separator-->
                    <!--begin::Action buttons-->
                    <div class="d-flex justify-content-end">
                        <!--begin::Button-->
                        <a type="reset" routerLink="/opcvm/standard/actionnaireopcvm" class="btn btn-sm btn-light me-3">
                            Annuler
                        </a>
                        <!--end::Button-->
                        <!--begin::Submit-->
                        <button type="submit" class="btn btn-sm btn-primary" (click)="onSaveEntity()"
                                [disabled]="entityForm.invalid">
                            <!--begin::Indicator label-->
                            <span class="indicator-label">Enregistrer</span>
                            <!--end::Indicator label-->
                            <!--begin::Indicator progress-->
                            <span *ngIf="submitting" class="indicator-progress">Veuillez patienter svp...
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            <!--end::Indicator progress-->
                        </button>
                        <!--end::Submit-->
                    </div>
                    <!--end::Action buttons-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Layout-->
    </div>
    <!--end::Body-->
</div>
<!--end::Careers - Apply-->
