<div class="card card-flush" *ngIf="personnePhysique$">
  <!--begin::Card body-->
  <div class="card-body py-3">
    <!--begin::Table-->
    <table class="table align-middle gs-0 gy-5">
      <tbody class="fw-semibold text-gray-600">
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Id</th>
        <td>{{ personnePhysique$.idPersonne }}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Denomination</th>
        <td>{{ personnePhysique$.civilite}} {{ personnePhysique$.denomination}}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Sexe</th>
        <td>{{ personnePhysique$.sexe}}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Date naissance</th>
        <td>{{ personnePhysique$.dateNaissance |date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Lieu de naissance</th>
        <td>{{ personnePhysique$.lieuNaissance }}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Pays de naissance</th>
        <td>{{ personnePhysique$.paysNationalite?.libelleFr}}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Pays de résidence</th>
        <td>{{ personnePhysique$.paysResidence?.libelleFr }}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Est jugée</th>
        <td>{{ personnePhysique$.estJuge ? 'OUI' : 'NON'}}</td>
      </tr>
      <tr class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">Est exposée</th>
        <td>{{ personnePhysique$.estExpose ? 'OUI' : 'NON'}}</td>
      </tr>
      </tbody>
    </table>
    <!--end::Table-->
    <h1>Autre(s) nationalité(s)</h1>
    <!--Personne à contacter-->
    <table class="table align-middle gs-0 gy-5">
      <tbody class="fw-semibold text-gray-600">
      <tr *ngFor="let personnePhysiquePays of personnePhysiquePays$" class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">{{personnePhysiquePays.paysDto.libelleFr}}</th>
        <!--                <td>{{ entity.prenomContact }}</td>-->
      </tr>
      </tbody>
    </table>

    <h1>Document(s)</h1>
    <!--Pièces jointes-->
    <table class="table align-middle gs-0 gy-5">
      <tbody class="fw-semibold text-gray-600">
      <!--            <tr class="d-flex justify-content-between">-->
      <!--                <th class="fw-bold fs-7 text-uppercase">Fichier</th>-->
      <!--                <th [hidden]="true" class="fw-bold fs-7 text-uppercase">ID</th>-->
      <!--                &lt;!&ndash;                <td>{{ entity.nomContact }}</td>&ndash;&gt;-->
      <!--            </tr>-->
      <tr *ngFor="let document of document$" class="d-flex justify-content-between">
        <th class="fw-bold fs-7 text-uppercase">{{document.nomDoc}}.{{document.extensionDoc}}</th>
        <th [hidden]="true" class="fw-bold fs-7 text-uppercase">{{document.idDoc}}</th>
        <button  class="btn btn-sm btn-success input-group-text" style="width: 100px;height: 40px"
                 (click)="openFile(document.idDoc,document.nomDoc,document.extensionDoc)">Télécharger</button>
        <!--                <td>{{ entity.prenomContact }}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <!--end::Card body-->
</div>
