<!--begin::Careers - Apply-->
<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="entityForm" class="form mb-5">
          <input *ngIf="id" type="hidden" class="form-control form-control-sm form-control-solid" [value]="id" formControlName="id"/>
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-4 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Date décision</label>
              <!--end::Label-->
              <!--begin::Input-->
              <div class="input-group mb-0">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm form-control-solid"
                       placeholder="dd-mm-yyyy" ngbDatepicker #d="ngbDatepicker" aria-label="Date ordre" aria-describedby="basic-addon6"
                       formControlName="dateDecision"/>
                <!--end::Input-->
                <span (click)="d.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon6">
                      <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                  </span>
              </div>

            </div>
            <div class="col-md-4 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Date détachement</label>
              <!--end::Label-->
              <!--begin::Input-->
              <div class="input-group mb-0">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm form-control-solid"
                       placeholder="dd-mm-yyyy" ngbDatepicker #d="ngbDatepicker" aria-label="Date ordre" aria-describedby="basic-addon7"
                       formControlName="dateDetachement"/>
                <!--end::Input-->
                <span (click)="d.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">
                      <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                  </span>
              </div>

            </div>
          </div>
    
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-4 fv-row">
                <!--begin::Label-->
                <label class=" fs-5 fw-semibold mb-2">RESULTAT EN INST. AFFECTATION :</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input [readOnly]="true" appNombreDecimal type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="resultat"
                />
                <div *ngIf="submitted && f.resultat.errors" class="invalid-feedback">
                  <div *ngIf="f.resultat.errors.required">Le champs est obligatoire</div>
                </div>
                <!--end::Select-->

              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-4 fv-row">
                <label class=" fs-5 fw-semibold mb-2">COUP. UNIT. A DIS</label>
                <!--begin::Label-->
                <input [readOnly]="couponUnitaire_Enabled" appNombreDecimal type="text" class="form-control form-control-sm"
                      (keyup)="onCouponKeyPress($event)" placeholder="Ex : XXXXXXXXX" formControlName="coupUnitaireADistribuer"
                />
                <div *ngIf="submitted && f.coupUnitaireADistribuer.errors" class="invalid-feedback">
                  <div *ngIf="f.coupUnitaireADistribuer.errors.required">Le champs est obligatoire</div>
                </div>
                <!--end::Col-->
              </div>
              <div class="col-md-4 fv-row">
                <!--begin::Label-->
                <label class=" fs-5 fw-semibold mb-2">MT. A DISTRIBUE</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input [readOnly]="Adistribuer_Enabled" appNombreDecimal type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="montantDistribue"
                />
                <div *ngIf="submitted && f.montantDistribue.errors" class="invalid-feedback">
                  <div *ngIf="f.montantDistribue.errors.required">Le champs est obligatoire</div>
                </div>
                <!--end::Input-->
              </div>
              <!--end::Col-->
             
            </div>

            <div class="row mb-5">
               <!--begin::Col-->
              <div class="col-md-4 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">MT. NON DISTRIBUE</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input [readOnly]="NonDistribuer_Enabled" appNombreDecimal type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="montantNonDistribue"
                />
                 <div *ngIf="submitted && f.montantNonDistribue.errors" class="invalid-feedback">
                  <div *ngIf="f.montantNonDistribue.errors.required">Le champs est obligatoire</div>
                </div>
                <!--end::Input-->
              </div>
               <!--begin::Col-->
              <div class="col-md-4 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">NOMBRE PART EN CIRCULATION</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input  appNombreDecimal type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="nbrePartEnCirculation"
                />
                <div *ngIf="submitted && f.nbrePartEnCirculation.errors" class="invalid-feedback">
                  <div *ngIf="f.nbrePartEnCirculation.errors.required">Le champs est obligatoire</div>
                </div>
                <!--end::Input-->
              </div>
              <!--begin::Col-->
              <div class="col-md-4 fv-row">
                <!--begin::Label-->
                <label class=" fs-5 fw-semibold mb-2">% A DISTRIBUE</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input  appNombreDecimal type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="aDistribueEnpourcentage"
                />
                <div *ngIf="submitted && f.aDistribueEnpourcentage.errors" class="invalid-feedback">
                  <div *ngIf="f.aDistribueEnpourcentage.errors.required">Le champs est obligatoire</div>
                </div>
                <!--end::Select-->
              </div>
              <div class="col-md-4 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2">STATUT MT. NON DISTRIBUE</label>
                <!--end::Label-->
                <!--begin::Select-->
                <select class="form-select form-select-sm mb-2" formControlName="statutMontNonDistribue"
                        [ngClass]="{ 'is-invalid': submitted && f.statutMontNonDistribue.errors }">
                  <option disabled value="null">Sélectionnez un statut...</option>
                  <option ngValue="CAPITALISATION">CAPITALISATION</option>
                  <option ngValue="REPORT A NOUVEAU">REPORT A NOUVEAU</option>
                </select>
                <!--end::Select-->
                <div *ngIf="submitted && f.statutMontNonDistribue.errors" class="invalid-feedback">
                  <div *ngIf="f.statutMontNonDistribue.errors.required">Le champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Submit-->
            <a type="reset" routerLink="/opcvm/affectation_resultat/decisiondistribution" class="btn btn-sm btn-light me-3">
                Annuler
            </a>
            <button style="margin-left: 5px;" type="submit" class="btn btn-sm btn-primary" (click)="onSaveEntity()"
                    >
              <ng-container *ngIf="saveBouton">
                    <span class="indicator-progress" [style.display]="'block'">
                        Patientez svp...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </ng-container>
                <ng-container *ngIf="!saveBouton">
                    <span class="indicator-label">Enregistrer</span>
                </ng-container>
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Careers - Apply-->
