<!--begin::Careers - Apply-->
<div class="card card-flush">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="form" enctype="multipart/form-data" class="form mb-5">
          <!--begin::Input-->
          <input *ngIf="id" type="hidden" class="form-control form-control-sm" [value]="id" formControlName="id"/>
          <!--end::Input-->
          <fieldset *ngIf="statutPersonnes.controls" class="border rounded-3 p-3">
            <legend class="float-none w-auto px-3">CHARGE DE CLIENTELE</legend>
            <div class="row mb-5">
              <div formArrayName="statutPersonnes">
                <div *ngFor="let control of statutPersonnes.controls; let i = index">
                  <div [formGroupName]="i" class="row" *ngIf="(control.value?.qualite?.libelleQualite|lowercase) == qualite">
                    <div class="col-md-12 fv-row">
                      <select class="form-select form-select-sm mb-2" formControlName="personnel">
                        <option disabled [ngValue]="null">Sélectionnez un chargé...</option>
                        <option *ngIf="entity?.statutPersonnes[i]?.personnel" disabled [defaultSelected]="true" [ngValue]="entity?.statutPersonnes[i]?.personnel">
                          {{ entity?.statutPersonnes[i]?.personnel?.denomination }}
                        </option>
                        <option *ngFor="let item of personnels$" [ngValue]="item">
                          {{ item.denomination }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto px-3">IDENTITE</legend>
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Distributeur</label>
                <!--end::Label-->
                <!--begin::Select-->
                <select class="form-select form-select-sm mb-2" formControlName="distributeur"
                        [ngClass]="{ 'is-invalid': submitted && f.distributeur.errors }">
                  <option disabled [ngValue]="null">Sélectionnez un distributeur...</option>
                  <option *ngIf="entity?.distributeur" disabled [defaultSelected]="true" [ngValue]="entity?.distributeur">
                    {{ entity?.distributeur?.denomination }}
                  </option>
                  <option *ngFor="let item of distributeurs$ | async" [ngValue]="item">
                    {{ item.denomination }}
                  </option>
                </select>
                <!--end::Select-->
                <div *ngIf="submitted && f.distributeur.errors" class="invalid-feedback">
                  <div *ngIf="f.distributeur.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div *ngIf=" qualite === 'actionnaire'" class="col-md-6 fv-row">
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2" [ngClass]="{'required': qualite === 'actionnaire'}">N° compte dépositaire</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="numeroCpteDeposit"
                       [ngClass]="{ 'is-invalid': submitted && f.numeroCpteDeposit.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.numeroCpteDeposit.errors" class="invalid-feedback">
                  <div *ngIf="f.numeroCpteDeposit.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2">Sigle</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="sigle"
                       [ngClass]="{ 'is-invalid': submitted && f.sigle.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.sigle.errors" class="invalid-feedback">
                  <div *ngIf="f.sigle.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2">Raison sociale</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="raisonSociale"
                       [ngClass]="{ 'is-invalid': submitted && f.raisonSociale.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.raisonSociale.errors" class="invalid-feedback">
                  <div *ngIf="f.raisonSociale.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2">Pays de résidence</label>
                <!--end::Label-->
                <!--begin::Select-->
                <select class="form-select form-select-sm mb-2" formControlName="paysResidence"
                        [ngClass]="{ 'is-invalid': submitted && f.paysResidence.errors }">
                  <option disabled [ngValue]="null">Sélectionnez le pays de Résidence...</option>
                  <option *ngIf="entity?.paysResidence" disabled [defaultSelected]="true" [ngValue]="entity?.paysResidence">
                    {{ entity?.paysResidence?.libelleFr }}
                  </option>
                  <option *ngFor="let item of payss$" [ngValue]="item">
                    {{ item.libelleFr }}
                  </option>
                </select>
                <!--end::Select-->
                <div *ngIf="submitted && f.paysResidence.errors" class="invalid-feedback">
                  <div *ngIf="f.paysResidence.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <div style="display: flex; justify-content: space-between;">
                  <!--begin::Label-->
                  <label class="fs-5 fw-semibold mb-2">Secteur d'activité</label>
                  <!--end::Label-->
                  <div style="display: flex; align-items: center; justify-content: center;">
                    <button type="button" class="btn btn-sm btn-primary pt-2 pb-2 ps-2 pe-1 me-1" (click)="callSecteurForm(null)"
                            style="display: flex; align-items: center; justify-content: center;">
                      <i class="fa fa-add"></i></button>
                    <!--                    <button type="button" class="btn btn-sm btn-warning pt-2 pb-2 ps-2 pe-1 me-1"-->
                    <!--                            style="display: flex; align-items: center; justify-content: center;">-->
                    <!--                      <i class="fa fa-edit"></i>-->
                    <!--                    </button>-->
                    <!--                    <button type="button" class="btn btn-sm btn-danger pt-2 pb-2 ps-2 pe-1"-->
                    <!--                            style="display: flex; align-items: center; justify-content: center;">-->
                    <!--                      <i class="fa fa-minus"></i>-->
                    <!--                    </button>-->
                  </div>
                </div>
                <!--begin::Select-->
                <select class="form-select form-select-sm mb-2" formControlName="secteur"
                        [ngClass]="{ 'is-invalid': submitted && f.secteur.errors }">
                  <option disabled [ngValue]="null">Sélectionnez un secteur...</option>
                  <option *ngIf="entity?.secteur" disabled [defaultSelected]="true" [ngValue]="entity?.secteur">
                    {{ entity?.secteur?.libelleSecteur }}
                  </option>
                  <option *ngFor="let item of secteurs$" [ngValue]="item">
                    {{ item.libelleSecteur }}
                  </option>
                </select>
                <!--end::Select-->
                <div *ngIf="submitted && f.secteur.errors" class="invalid-feedback">
                  <div *ngIf="f.secteur.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <div style="display: flex; justify-content: space-between;">
                  <!--begin::Label-->
                  <label class="required fs-5 fw-semibold mb-2">Dégré de connaissance</label>
                  <!--end::Label-->
                  <div style="display: flex; align-items: center; justify-content: center;">
                    <button type="button" class="btn btn-sm btn-primary pt-2 pb-2 ps-2 pe-1 me-1" (click)="callDegreForm(null)"
                            style="display: flex; align-items: center; justify-content: center;">
                      <i class="fa fa-add"></i></button>
                    <!--                    <button type="button" class="btn btn-sm btn-warning pt-2 pb-2 ps-2 pe-1 me-1" (click)="callDegreForm(degreSelect.value, null)"-->
                    <!--                            style="display: flex; align-items: center; justify-content: center;">-->
                    <!--                      <i class="fa fa-edit"></i>-->
                    <!--                    </button>-->
                    <!--                    <button type="button" class="btn btn-sm btn-danger pt-2 pb-2 ps-2 pe-1"-->
                    <!--                            style="display: flex; align-items: center; justify-content: center;">-->
                    <!--                      <i class="fa fa-minus"></i>-->
                    <!--                    </button>-->
                  </div>
                </div>
                <!--begin::Select-->
                <select class="form-select form-select-sm mb-2" formControlName="degre"
                        [ngClass]="{ 'is-invalid': submitted && f.degre.errors }">
                  <option disabled [ngValue]="null">Sélectionnez le dégré de connaissance...</option>
                  <option *ngIf="entity?.degre" [defaultSelected]="true" [ngValue]="entity?.degre">
                    {{ entity?.degre?.libelle }}
                  </option>
                  <option *ngFor="let item of (degres$ | async)?.data" [ngValue]="item">
                    {{ item.libelle }}
                  </option>
                </select>
                <!--end::Select-->
                <div *ngIf="submitted && f.degre.errors" class="invalid-feedback">
                  <div *ngIf="f.degre.errors.required">Dégré est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2">Ifu</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : 1234567890123" formControlName="ifu"
                       [ngClass]="{ 'is-invalid': submitted && f.ifu.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.ifu.errors" class="invalid-feedback">
                  <div *ngIf="f.ifu.errors.required">Ifu est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Email Professionnel</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : johndoe@entreprise.com" formControlName="emailPro"
                       [ngClass]="{ 'is-invalid': submitted && f.emailPro.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.emailPro.errors" class="invalid-feedback">
                  <div *ngIf="f.emailPro.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Email Personnel</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : johndoe@gmail.com" formControlName="emailPerso"
                       [ngClass]="{ 'is-invalid': submitted && f.emailPerso.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.emailPerso.errors" class="invalid-feedback">
                  <div *ngIf="f.emailPerso.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-12 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Site web</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex: https://www.entreprise.com" formControlName="siteWeb"
                       [ngClass]="{ 'is-invalid': submitted && f.siteWeb.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.siteWeb.errors" class="invalid-feedback">
                  <div *ngIf="f.siteWeb.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Domicile</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="domicile"
                       [ngClass]="{ 'is-invalid': submitted && f.domicile.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.domicile.errors" class="invalid-feedback">
                  <div *ngIf="f.domicile.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Boîte postale</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="bp" [ngClass]="{ 'is-invalid': submitted && f.bp.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.bp.errors" class="invalid-feedback">
                  <div *ngIf="f.bp.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="required fs-5 fw-semibold mb-2">Mobile 1</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="mobile1"
                       [ngClass]="{ 'is-invalid': submitted && f.mobile1.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.mobile1.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile1.errors.required">Mobile 1 est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Mobile 2</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="mobile2" [ngClass]="{ 'is-invalid': submitted && f.mobile2.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.mobile2.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile2.errors.required">Mobile 2 est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Fixe 1</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="fixe1" [ngClass]="{ 'is-invalid': submitted && f.fixe1.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.fixe1.errors" class="invalid-feedback">
                  <div *ngIf="f.fixe1.errors.required">Fixe 1 est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <label class="fs-5 fw-semibold mb-2">Fixe 2</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="fixe2"
                       [ngClass]="{ 'is-invalid': submitted && f.fixe2.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.fixe2.errors" class="invalid-feedback">
                  <div *ngIf="f.fixe2.errors.required">Fixe 2 est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <div *ngIf="qualite!=='prospect'">
              <!--begin::Input group-->
              <div class="row mb-5">
                <!--begin::Col-->
                <div class="col-md-6 fv-row">
                  <!--begin::Label-->
                  <label class=" fs-5 fw-semibold mb-2">Catégorie client</label>
                  <!--end::Label-->
                  <!--begin::Select-->
                  <select class="form-select form-select-sm mb-2" formControlName="categorieClient"
                          [ngClass]="{ 'is-invalid': submitted && f.categorieClient.errors }">
                    <option disabled selected [ngValue]="null">Sélectionnez une catégorie...</option>
                    <option *ngIf="entity?.categorieClient" disabled [defaultSelected]="true" [ngValue]="entity?.categorieClient">
                      {{ entity?.categorieClient?.codeCategorieClient }}-{{ entity?.categorieClient?.libelleCategorieClient }}
                    </option>
                    <option *ngFor="let item of categorieClient$" [ngValue]="item">
                      {{ item.codeCategorieClient }}-{{ item.libelleCategorieClient }}
                    </option>
                  </select>
                  <!--end::Select-->
                  <div *ngIf="submitted && f.categorieClient.errors" class="invalid-feedback">
                    <div *ngIf="f.categorieClient.errors.required">Ce champs est obligatoire</div>
                  </div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-md-6 fv-row">
                  <!--begin::Label-->
                  <label class=" fs-5 fw-semibold mb-2">Sous type client</label>
                  <!--end::Label-->
                  <!--begin::Select-->
                  <select class="form-select form-select-sm mb-2" formControlName="sousTypeClient"
                          [ngClass]="{ 'is-invalid': submitted && f.sousTypeClient.errors }">
                    <option disabled selected [ngValue]="null">Sélectionnez un sous type client...</option>
                    <option *ngIf="entity?.sousTypeClient" disabled [defaultSelected]="true" [ngValue]="entity?.sousTypeClient">
                      {{ entity?.sousTypeClient?.codeSousTypeClient }}-{{ entity?.sousTypeClient?.libelleSousTypeClient }}
                    </option>
                    <option *ngFor="let item of sousTypeClient$" [ngValue]="item">
                      {{ item.codeSousTypeClient }}-{{ item.libelleSousTypeClient }}
                    </option>
                  </select>
                  <!--end::Select-->
                  <div *ngIf="submitted && f.sousTypeClient.errors" class="invalid-feedback">
                    <div *ngIf="f.sousTypeClient.errors.required">Ce champs est obligatoire</div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Input group-->
            </div>


          </fieldset>
          <fieldset class="border rounded-3 p-3">
            <legend class="float-none w-auto px-3">Personne à contacter</legend>
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <div *ngIf="libelleQualite==='prospect'">
                  <label class="required fs-5 fw-semibold mb-2">Nom</label>
                  <!--end::Label-->
                </div>
                <div *ngIf="libelleQualite!=='prospect'">
                  <label class=" fs-5 fw-semibold mb-2">Nom</label>
                  <!--end::Label-->
                </div>
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="nomContact"
                       [ngClass]="{ 'is-invalid': submitted && f.nomContact.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.nomContact.errors" class="invalid-feedback">
                  <div *ngIf="f.nomContact.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <div *ngIf="libelleQualite==='prospect'">
                  <label class="required fs-5 fw-semibold mb-2">Prénom(s)</label>
                  <!--end::Label-->
                </div>
                <div *ngIf="libelleQualite!=='prospect'">
                  <label class="fs-5 fw-semibold mb-2">Prénom(s)</label>
                  <!--end::Label-->
                </div>

                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="prenomContact" [ngClass]="{ 'is-invalid': submitted && f.prenomContact.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.prenomContact.errors" class="invalid-feedback">
                  <div *ngIf="f.prenomContact.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-5">
              <!--begin::Col-->
              <div class="col-md-3 fv-row">
                <!--begin::Label-->
                <div *ngIf="libelleQualite==='prospect'">
                  <label class="required fs-5 fw-semibold mb-2">Téléphone</label>
                  <!--end::Label-->
                </div>
                <div *ngIf="libelleQualite!=='prospect'">
                  <label class=" fs-5 fw-semibold mb-2">Téléphone</label>
                  <!--end::Label-->
                </div>
                <!--end::Label-->
                <!--begin::Input-->
                <input appNumeroPositifValidators type="text" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="telContact" [ngClass]="{ 'is-invalid': submitted && f.telContact.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.telContact.errors" class="invalid-feedback">
                  <div *ngIf="f.telContact.errors.required">Fixe 1 est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-3 fv-row">
                <!--begin::Label-->
                <!--                <label class="required fs-5 fw-semibold mb-2">Email</label>-->
                <div *ngIf="libelleQualite==='prospect'">
                  <label class="required fs-5 fw-semibold mb-2">Email</label>
                  <!--end::Label-->
                </div>
                <div *ngIf="libelleQualite!=='prospect'">
                  <label class=" fs-5 fw-semibold mb-2">Email</label>
                  <!--end::Label-->
                </div>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="email" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="emailContact"
                       [ngClass]="{ 'is-invalid': submitted && f.emailContact.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.emailContact.errors" class="invalid-feedback">
                  <div *ngIf="f.emailContact.errors.required">Ce champs est obligatoire</div>
                  <div *ngIf="f.emailContact.errors.email">Mail invalide</div>
                </div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6 fv-row">
                <!--begin::Label-->
                <div *ngIf="libelleQualite==='prospect'">
                  <label class="required fs-5 fw-semibold mb-2">Fonction</label>
                  <!--end::Label-->
                </div>
                <div *ngIf="libelleQualite!=='prospect'">
                  <label class="fs-5 fw-semibold mb-2">Fonction</label>
                  <!--end::Label-->
                </div>

                <!--end::Label-->
                <!--begin::Input-->
                <input type="email" class="form-control form-control-sm"
                       placeholder="Ex : XXXXXXXXX" formControlName="titreContact"
                       [ngClass]="{ 'is-invalid': submitted && f.titreContact.errors }"/>
                <!--end::Input-->
                <div *ngIf="submitted && f.titreContact.errors" class="invalid-feedback">
                  <div *ngIf="f.titreContact.errors.required">Ce champs est obligatoire</div>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
          </fieldset>
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <!--begin::Button-->
              <button type="button" class="btn btn-sm btn-warning me-3" (click)="retourAlaListe()">
                Retour à la liste
              </button>
              <!--end::Button-->
            </div>
            <div class="d-flex justify-content-end">
              <!--begin::Submit-->
              <!--              <button type="submit" class="btn btn-sm btn-primary" [disabled]="!form.valid" (click)="onSaveEntity()">-->
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="form.invalid" (click)="onSaveEntity()">
                <ng-container *ngIf="submitting">
                  <span class="indicator-progress" [style.display]="'block'">
                    Patientez svp...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </ng-container>
                <ng-container *ngIf="!submitting">
                  <span class="indicator-label">Enregistrer</span>
                </ng-container>
              </button>
              <!--end::Submit-->
            </div>
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Careers - Apply-->

