<span *ngIf="type === 'duotone'" class="ki-{{ type }} ki-{{ name }}{{ class ? ' ' + class : '' }} position-relative">
  <span *ngFor="let i of [].constructor(pathsNumber); let idx = index" class="path{{ idx + 1 }}"></span>
  <span class="badge badge-danger badge-sm position-absolute top-0 start-100 translate-middle rounded-pill">
    {{ badgeCount }}
  </span>
</span>
<span *ngIf="type !== 'duotone'" class="ki-{{ type }} ki-{{ name }}{{ class ? ' ' + class : '' }}">
  <span class="badge badge-danger badge-sm position-absolute top-0 start-100 translate-middle rounded-pill">
    {{ badgeCount }}
  </span>
</span>


