<!--begin::Careers - Apply-->
<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="entityForm" class="form mb-5">
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Code</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input [readonly]="readOnly" type="text" class="form-control form-control-sm form-control-solid"
                      placeholder="" formControlName="codePosteComptable"
                      [ngClass]="{ 'is-invalid': submitted && f.codePosteComptable.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.codePosteComptable.errors" class="invalid-feedback">
                <div *ngIf="f.codePosteComptable.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Libellé</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="" formControlName="libellePosteComptable"
                     [ngClass]="{ 'is-invalid': submitted && f.libellePosteComptable.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.libellePosteComptable.errors" class="invalid-feedback">
                <div *ngIf="f.libellePosteComptable.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Type</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select class="form-select form-select-sm mb-2" formControlName="type"
                      [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                <option disabled value="null">Sélectionnez un type...</option>
                <option ngValue="ACTIF">ACTIF</option>
                <option ngValue="PASSIF">PASSIF</option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Formule</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="" formControlName="formule"
                     [ngClass]="{ 'is-invalid': submitted && f.formule.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.formule.errors" class="invalid-feedback">
                <div *ngIf="f.formule.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-12 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Plan</label>
              <!--end::Label-->
              <!--begin::Input-->
              <select class="form-select form-select-sm mb-2" formControlName="plan"
                      [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">
                <option selected>Sélectionnez un plan...</option>
                <option [defaultSelected]="true" [ngValue]="entity?.plan" [disabled]="true">
                  {{ entity?.plan?.libellePlan }}
                </option>

                <option  *ngFor="let item of plan$" [ngValue]="item" [disabled]="readOnly">
                  {{ item.libellePlan }}
                </option>

              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.plan.errors" class="invalid-feedback">
                <div *ngIf="f.plan.errors.required">Ce champs est obligatoire</div>
              </div>
              <!--begin::Input-->
            </div>
          </div>
          <!--end::Input group-->
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Emetteur buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a type="reset" routerLink="/app/standard/parametre/comptabilite/postecomptable" class="btn btn-sm btn-light me-3">
              Annuler
            </a>
            <!--end::Button-->
            <!--begin::Submit-->
            <button type="submit" class="btn btn-sm btn-primary" (click)="onSaveEntity()"
                    [disabled]="entityForm.invalid">
              <!--begin::Indicator label-->
              <span class="indicator-label">Enregistrer</span>
              <!--end::Indicator label-->
              <!--begin::Indicator progress-->
              <span *ngIf="submitting" class="indicator-progress">Veuillez patienter svp...
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
              <!--end::Indicator progress-->
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Emetteur buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Careers - Apply-->
