<!--begin::Careers - Apply-->
<div class="card card-flush">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="entityForm" enctype="multipart/form-data" class="form mb-5">
          <!--begin::Input-->
          <input *ngIf="id" type="hidden" class="form-control form-control-sm form-control-solid" [value]="id" formControlName="id"/>
          <!--end::Input-->
          <div class="row mb-12">
            <div class="col-md-6 fv-row">
              <label  class="required fs-5 fw-semibold mb-2">Personne(s)</label>
              <!--end::Label-->
              <!--begin::Input-->
              <select
                class="form-select form-select-sm form-select-solid"
                id="ComboPersonneGelDegel" formControlName="personneDto" >
<!--                <option selected>Sélectonnez une personne</option>-->
<!--                <option *ngIf="entity?.personne" [defaultSelected]="true" [ngValue]="entity?.personne">-->
<!--                  {{ entity?.personne?.denomination }}-->
                <option *ngIf="personne" [defaultSelected]="true"
                        [ngValue]="personne">{{personne.denomination}}</option>
                <!--                <option>Tous</option>-->
              </select>
            </div>

          <div class="col-md-6 fv-row">
            <!--begin::Label-->
            <label class="required fs-5 fw-semibold mb-2">Date fin</label>
            <!--end::Label-->

            <div class="input-group mb-0">
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="dd-mm-yyyy" ngbDatepicker #d1="ngbDatepicker"
                     formControlName="dateFin" aria-describedby="basic-addon7"
                     [ngClass]="{ 'is-invalid': submitted && f.dateFin.errors }"/>
              <!--end::Input-->
              <span (click)="d1.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">
                      <i class="ki-duotone ki-calendar fs-4">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                  </span>
            </div>

            <div *ngIf="submitted && f.dateFin.errors && id" class="invalid-feedback">
              <div *ngIf="f.dateFin.errors.required">La date fin est obligatoire</div>
            </div>
          </div>
      </div>

<!--          <div *ngIf="id">-->
<!--            <div class="border rounded-3 p-3">-->
<!--              <div class="row mb-5">-->
<!--                &lt;!&ndash;                <legend class="float-none w-auto px-3"></legend>&ndash;&gt;-->
<!--                &lt;!&ndash;begin::Input group&ndash;&gt;-->
<!--                <div class="row mb-5">-->
<!--                  <div class="col-md-6 fv-row">-->
<!--                    &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--                    <label class="required fs-5 fw-semibold mb-2">Date début</label>-->
<!--                    &lt;!&ndash;end::Label&ndash;&gt;-->

<!--                    <div class="input-group mb-0">-->
<!--                      &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--                      <input type="text" class="form-control form-control-sm form-control-solid"-->
<!--                             placeholder="dd-mm-yyyy" ngbDatepicker #d="ngbDatepicker" aria-label="Date début" aria-describedby="basic-addon6"-->
<!--                             formControlName="dateDebut" [ngClass]="{ 'is-invalid': submitted && f.dateDebut.errors }"/>-->
<!--                      &lt;!&ndash;end::Input&ndash;&gt;-->
<!--                      <span (click)="d.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon6">-->
<!--                      <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>-->
<!--                  </span>-->
<!--                    </div>-->

<!--                    <div *ngIf="submitted && f.dateDebut.errors && id" class="invalid-feedback">-->
<!--                      <div *ngIf="f.dateDebut.errors.required">La date début est obligatoire</div>-->
<!--                    </div>-->
<!--                  </div>   &lt;!&ndash;end::Col&ndash;&gt;-->
<!--                  &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--                  <div class="col-md-6 fv-row">-->
<!--                    &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--                    <label class="required fs-5 fw-semibold mb-2">Date fin</label>-->
<!--                    &lt;!&ndash;end::Label&ndash;&gt;-->

<!--                    <div class="input-group mb-0">-->
<!--                      &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--                      <input type="text" class="form-control form-control-sm form-control-solid"-->
<!--                             placeholder="dd-mm-yyyy" ngbDatepicker #d1="ngbDatepicker"-->
<!--                             formControlName="dateFin" aria-describedby="basic-addon7"-->
<!--                             [ngClass]="{ 'is-invalid': submitted && f.dateFin.errors }"/>-->
<!--                      &lt;!&ndash;end::Input&ndash;&gt;-->
<!--                      <span (click)="d1.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">-->
<!--                      <i class="ki-duotone ki-calendar fs-4">-->
<!--                        <span class="path1"></span>-->
<!--                        <span class="path2"></span>-->
<!--                      </i>-->
<!--                  </span>-->
<!--                    </div>-->

<!--                    <div *ngIf="submitted && f.dateFin.errors && id" class="invalid-feedback">-->
<!--                      <div *ngIf="f.dateFin.errors.required">La date fin est obligatoire</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <!--begin::Col-->
          <!--            </div>-->
          <!--end::Input group-->
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a type="reset" routerLink="/lab/geldegel" class="btn btn-sm btn-light me-3">
              Annuler
            </a>
            <!--end::Button-->
            <!--begin::Submit-->
            <button type="submit" class="btn btn-sm btn-primary"
                    (click)="onSaveEntity()">
              <!--begin::Indicator label-->
              <span class="indicator-label">{{buttonText}}</span>
              <!--end::Indicator label-->
              <!--begin::Indicator progress-->
              <span *ngIf="submitting" class="indicator-progress">Veuillez patienter svp...
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
              <!--end::Indicator progress-->
            </button>
            <!--end::Submit-->
          </div>

          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Careers - Apply-->
