<div class="card">
  <form [formGroup]="form">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <div class="d-flex align-items-center mx-2">
          <!--<app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>-->
          <div class="input-group mb-0">
            <input type="text" class="form-control form-control-sm form-control-solid w-200px"
                   placeholder="dd/mm/yyyy" ngbDatepicker #d1="ngbDatepicker" aria-label="Date début" aria-describedby="basic-addon6"
                   formControlName="startDate"/>
            <span (click)="d1.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon6">
                <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
            </span>
          </div>
        </div>
        <div class="d-flex align-items-center mx-2">
          <div class="input-group mb-0">
            <input type="text" class="form-control form-control-sm form-control-solid w-200px"
                   placeholder="dd/mm/yyyy" ngbDatepicker #d2="ngbDatepicker" aria-label="Date fin" aria-describedby="basic-addon7"
                   formControlName="endDate"/>
            <span (click)="d2.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">
                <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
            </span>
          </div>
        </div>
      </div>
      <!--begin::Card title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Toolbar-->
        <div class="d-flex justify-content-end">
          <!--begin::Add user-->
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Appliquer
          </button>
          <!--end::Add user-->
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Card toolbar-->
    </div>
  </form>
  <hr>
  <div class="card-body pt-0">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table align-middle table-row-dashed fs-6 gy-5 no-footer" id="datatable">
<!--        <thead>-->
<!--        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">-->
<!--          <th>Date Op.</th>-->
<!--          <th>Origine et Destination des fonds</th>-->
<!--          <th>Objet et Modalités</th>-->
<!--          <th>Nature de l'opération</th>-->
<!--          <th>Existence d’une justification économique</th>-->
<!--          <th>Cohérence de la justification économique</th>-->
<!--          <th>Identité du donneur d’ordre</th>-->
<!--          <th>Identité du bénéficiaire effectif</th>-->
<!--          <th>Devise</th>-->
<!--          <th>Montant</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody *ngIf="reportList.length > 0" class="fw-semibold text-gray-600">-->
<!--          <tr *ngFor="let item of reportList">-->
<!--            <td>{{ item[4] | date: "dd MMMM yyyy 'à' hh:mm" }}</td>-->
<!--            <td>{{ '-' }}</td>-->
<!--            <td>{{ '-' }}</td>-->
<!--            <td>{{ item[9] }}</td>-->
<!--            <td>{{ '-' }}</td>-->
<!--            <td>{{ '-' }}</td>-->
<!--            <td>{{ item[3] }}</td>-->
<!--            <td>{{ item[3] }}</td>-->
<!--            <td>{{ '-' }}</td>-->
<!--            <td>{{ item[5] | number }}</td>-->
<!--          </tr>-->
<!--        </tbody>-->
      </table>
    </div>
  </div>
</div>

