<div class="modal-header p-2">
  <div class="modal-title h4">LISTE DE VERIFICATION DES RACHATS</div>
  <!--<button type="button" class="close" (click)="modal.dismiss()">
    <span>&times;</span>
  </button>-->

  <!--<button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>-->
</div>
<!--end::Card header-->
<!--begin::Card body-->
<div class="card modal-body p-lg-2">
  <form [formGroup]="entityForm" class="form mb-5">
    <div class="row mb-5">
      <!--begin::Col-->
      <div class="col-md-3 fv-row">
        <!--begin::Label-->
        <label class=" fs-5 fw-semibold mb-2">OPCVM</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input [readonly]="true" type="text" class="form-control form-control-sm"
               placeholder="Ex : XXXXXXXXX" formControlName="denominationOpcvm"/>
        <!--end::Input-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-3 fv-row">
        <!--begin::Label-->
        <label class=" fs-5 fw-semibold mb-2">Séance</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input [readonly]="true" type="text" class="form-control form-control-sm"
               placeholder="Ex : XXXXXXXXX" formControlName="idSeance"/>
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-3 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-semibold mb-2">Date ouv.</label>
        <!--end::Label-->
        <!--begin::Input-->
        <div class="input-group mb-0">
          <!--begin::Input-->
          <input [readonly]="true"  type="text" class="form-control form-control-sm"
                 placeholder="dd/mm/yyyy" ngbDatepicker #d4="ngbDatepicker" aria-label="Date opération" aria-describedby="basic-addon6"
                 formControlName="dateOuverture"/>
          <!--end::Input-->
          <!-- <span (click)="d4.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">
                           <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                       </span>-->
        </div>
      </div>

      <div class="col-md-3 fv-row">
        <!--begin::Label-->
        <label class="required fs-5 fw-semibold mb-2">Date ferm.</label>
        <!--end::Label-->
        <!--begin::Input-->
        <div class="input-group mb-0">
          <!--begin::Input-->
          <input [readonly]="true"  type="text" class="form-control form-control-sm"
                 placeholder="dd/mm/yyyy" ngbDatepicker #d5="ngbDatepicker" aria-label="Date opération" aria-describedby="basic-addon6"
                 formControlName="dateFermeture"/>
          <!--end::Input-->
          <!-- <span (click)="d4.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">
                           <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                       </span>-->
        </div>
      </div>
      <!--end::Col-->
    </div>

    <div *ngIf="verifier" class="row mb-5">
      <!--begin::Col-->
      <div class="col-md-12 fv-row">
        <div style="margin-top: 10px" class="row mb-2">
          <div class="col-sm-12 fv-row">
            <div class="alert alert-info d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                <use xlink:href="#info-fill"/>
              </svg>
              Certaines intentions de rachat sont en attente de vérification Niveau 1
            </div>
          </div>
        </div>
      </div>
      <!--end::Col-->
    </div>
  </form>
  <!-- begin::Table-->
  <ul class="list-group list-group-flush vert-scrollable-150" id="alldata">
    <table id="table_Verif_Sous2" *ngIf="!verifier" class="order-details" >
      <thead>
      <tr class="bg-blue">
        <th [hidden]="true"  style="width: 20px">ID</th>
        <th style="width: 50px">Référence pièce</th>
        <th style="width: 25%">Date opération</th>
        <th style="width: 10%">Libelle opération</th>
        <th style="width: 20%">Quantité</th>
        <th style="width: 20%">Montant</th>

      </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
      <tr *ngFor="let depotRachat of depotRachat2$">
        <td [hidden]="true">{{ depotRachat.idDepotRachat}}</td>
        <td>
          <div class="d-flex align-items-center">
            {{ depotRachat.referencePiece}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ depotRachat.dateOperation|date:'dd/MM/yyyy' }}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ depotRachat.libelleOperation}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ depotRachat.qte }}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ depotRachat.montantSouscrit }}
          </div>
        </td>
        <!--          <td>-->
        <!--            <div class="d-flex align-items-center">-->

        <!--            </div>-->
        <!--          </td>-->
      </tr>
      </tbody>
    </table>
  </ul>
  <div class="d-flex justify-content-end">
    <button  style="margin-top: 10px;margin-right: 5px" type="button" class="btn btn-sm btn-success"
           (click)="verifSouscriptionTransfertTitreN2()"     >
           <ng-container *ngIf="verifier">
          <span class="indicator-progress" [style.display]="'block'">
            Patientez svp...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
      </ng-container>
      <ng-container *ngIf="!verifier">
        <span class="indicator-label">Aperçu</span>
      </ng-container>
    </button>
    <button [disabled]="verifier_Bouton" style="margin-top: 10px;margin-right: 5px" type="button" class="btn btn-sm btn-primary"
            (click)="validerRachat()"     >
      <ng-container *ngIf="valider">
          <span class="indicator-progress" [style.display]="'block'">
            Patientez svp...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
      </ng-container>
      <ng-container *ngIf="!valider">
        <span class="indicator-label">Confirmez la vérification niveau 2</span>
      </ng-container>
      
    </button>
    <button  style="margin-top: 10px" type="button" class="btn btn-sm btn-success"
             (click)="verifSouscriptionTransfertTitreN2_Final()"   >
             <ng-container *ngIf="validerFinal">
          <span class="indicator-progress" [style.display]="'block'">
            Patientez svp...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
      </ng-container>
      <ng-container *ngIf="!validerFinal">
        <span class="indicator-label">Télécharger</span>
      </ng-container>
      
    </button>
    <!--end::Table-->
  </div>
</div>
<!--end::Card body-->
<!--  </div>-->
<!--end::Products-->
<!--</div>-->

