<!--begin::Careers - Apply-->
<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="entityForm" class="form mb-5">
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-12 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Nom du modèle</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="" formControlName="nomModele" [ngClass]="{ 'is-invalid': submitted && f.nomModele.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.nomModele.errors" class="invalid-feedback">
                <div *ngIf="f.nomModele.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row m-0" *ngIf="details.length == 0">
            <div class="alert alert-warning p-1" role="alert">
              <button class="btn btn-sm btn-info input-group-text" (click)="onAddModele()">
                Ajouter un modèle
              </button>
            </div>
          </div>
          <div formArrayName="detailObjectifs" *ngFor="let control of details.controls; let i = index">
            <div class="mb-2">
              <div [formGroupName]="i" class="row border rounded-3 p-3 m-0">
                <div class="col-md-4 fv-row">
                  <!--begin::Label-->
                  <label class="required fs-5 fw-semibold mb-2">Catégorie</label>
                  <!--end::Label-->
                  <select class="form-select form-select-sm mb-2" formControlName="categoriePersonne">
                    <option [defaultSelected]="true" disabled [ngValue]="entity?.detailObjectifs[i]?.categoriePersonne">
                      {{ entity?.detailObjectifs[i]?.categoriePersonne?.libelle }}
                    </option>
                    <option *ngFor="let item of categories" [ngValue]="item">
                      {{ item.libelle }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4 fv-row">
                  <!--begin::Label-->
                  <label class="required fs-5 fw-semibold mb-2">Indicateur</label>
                  <!--end::Label-->
                  <select class="form-select form-select-sm mb-2" formControlName="indicateur">
                    <option [defaultSelected]="true" disabled [ngValue]="entity?.detailObjectifs[i]?.indicateur">
                      {{ entity?.detailObjectifs[i]?.indicateur?.libelle }}
                    </option>
                    <option *ngFor="let item of indicateurs" [ngValue]="item">
                      {{ item.libelle }}
                    </option>
                  </select>
                </div>
                <div class="col-md-2 fv-row">
                  <!--begin::Label-->
                  <label class="required fs-5 fw-semibold mb-2">Périodicité</label>
                  <!--end::Label-->
                  <select class="form-select form-select-sm mb-2" formControlName="periodicite">
                    <option [defaultSelected]="true" disabled [ngValue]="entity?.detailObjectifs[i]?.periodicite">
                      {{ entity?.detailObjectifs[i]?.periodicite?.libelle }}
                    </option>
                    <option *ngFor="let item of periodicites" [ngValue]="item">
                      {{ item.libelle }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-2">
                    <span class="btn btn-sm btn-danger mt-9" (click)="supprimerDetail(i)">
                        <i class="ki-duotone ki-minus fs-4">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                    </span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-left" *ngIf="details.length > 0">
            <button class="btn btn-sm btn-info align-middle mb-1" (click)="onAddModele()">
              Ajouter un modèle
            </button>
          </div>
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a type="reset" [routerLink]="['../']" class="btn btn-sm btn-light me-3">
              Annuler
            </a>
            <!--end::Button-->
            <!--begin::Submit-->
            <button type="submit" class="btn btn-sm btn-primary" (click)="onSaveEntity()">
              <!--begin::Indicator label-->
              <span class="indicator-label">Enregistrer</span>
              <!--end::Indicator label-->
              <!--begin::Indicator progress-->
              <span *ngIf="submitting" class="indicator-progress">Veuillez patienter svp...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
              <!--end::Indicator progress-->
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
<!--end::Careers - Apply-->
