<div class="card card-flush">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="form" enctype="multipart/form-data" class="form mb-5">
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-1 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">N° Séance</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input readonly="readonly" type="text" class="form-control form-control-sm" placeholder="" formControlName="idSeance"/>
              <!--end::Input-->
            </div>
            <!--end::Col-->
            <div class="col-md-2 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Date Ouverture</label>
              <!--end::Label-->
              <div class="input-group input-group-sm">
                <!--begin::Input-->
                <input readonly="readonly" type="text" class="form-control form-control-sm" placeholder="dd/mm/yyyy" ngbDatepicker
                       #dateOuv="ngbDatepicker" aria-label="Date Ouverture" formControlName="dateOuverture"/>
                <!--end::Input-->
                <!--<span (click)="dateOuv.toggle()" class="btn btn-sm btn-outline-secondary input-group-text">
                  <i class="ki-duotone ki-calendar fs-4">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                </span>-->
              </div>
            </div>
            <div class="col-md-2 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Date Fermeture</label>
              <!--end::Label-->
              <div class="input-group input-group-sm">
                <!--begin::Input-->
                <input readonly="readonly" type="text" class="form-control form-control-sm" placeholder="dd/mm/yyyy" ngbDatepicker
                       #dateFerm="ngbDatepicker" aria-label="Date Début" formControlName="dateFermeture"/>
                <!--end::Input-->
                <!--<span (click)="dateFerm.toggle()" class="btn btn-sm btn-outline-secondary input-group-text">
                    <i class="ki-duotone ki-calendar fs-4">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>
                </span>-->
              </div>
            </div>
            <!--begin::Col-->
            <div class="col-md-1 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Vl</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input readonly="readonly" type="text" class="form-control form-control-sm" placeholder="" formControlName="vl"/>
              <!--end::Input-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-1 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Mode</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input readonly="readonly" type="text" class="form-control form-control-sm" placeholder="" formControlName="mode"/>
              <!--end::Input-->
            </div>
            <!--end::Col-->
            <div class="col-md-2 fv-row">
              <label class="fs-5 fw-semibold mb-2">Date Opération</label>
              <div class="input-group input-group-sm">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm" placeholder="dd/mm/yyyy" ngbDatepicker
                       #date="ngbDatepicker" aria-label="Date" formControlName="dateOperation" (click)="date.toggle()"/>
                <!--end::Input-->
              </div>
            </div>
<!--            <div [hidden]="true" class="col-md-4 fv-row">-->
<!--              &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--              <label class="fs-5 fw-semibold mb-2">OP.</label>-->
<!--              &lt;!&ndash;end::Label&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Select&ndash;&gt;-->
<!--              <select #mySelect4 class="form-select form-select-sm mb-2" formControlName="operation">-->
<!--                <option *ngFor="let item of depotRachat$" [ngValue]="item">-->
<!--                  {{ item.idOperation }}-->
<!--                </option>-->
<!--              </select>-->
<!--              &lt;!&ndash;end::Select&ndash;&gt;-->
<!--            </div>-->
            <div class="col-md-3 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Distributeur</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select class="form-select form-select-sm mb-2" formControlName="distributeur">
                <option disabled selected [ngValue]="null">Sélectionnez un distributeur...</option>
                <!--<option *ngIf="entity?.place" disabled [defaultSelected]="true" [ngValue]="entity?.place">
                  {{ entity?.place?.libellePlace }}
                </option>-->
                <option *ngFor="let item of distributeurs$|async" [ngValue]="item">
                  {{ item.denomination }}
                </option>
              </select>
              <!--end::Select-->
            </div>
            <!--<div class="col-md fv-row d-flex align-items-end">
              <button class="btn btn-sm btn-info mb-2" (click)="precalcul()">Précalculer</button>
            </div>-->
          </div>
          <hr>
          <div class="row mb-5">
            <div class="card">
              <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                  <!--begin::Search-->
                  <div class="d-flex align-items-center position-relative my-1">
                    <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
                    <input type="text" data-action="filter" class="form-control form-control-sm form-control-sm form-control-solid w-250px ps-12">
                  </div>
                  <!--end::Search-->
                </div>
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-info me-3" (click)="precalcul()">
                      <ng-container *ngIf="precalculer">
                    <span class="indicator-progress" [style.display]="'block'">
                      Patientez svp...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                      </ng-container>
                      <ng-container *ngIf="!precalculer">
                        <span class="indicator-label">Précalculer</span>
                      </ng-container>
                    </button>
                    <button [type]="submitting ? 'button' : 'submit'" class="btn btn-sm btn-primary" (click)="submitting ? null : save()">
                      <ng-container *ngIf="submitting">
                    <span class="indicator-progress" [style.display]="'block'">
                      Patientez svp...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                      </ng-container>
                      <ng-container *ngIf="!submitting">
                        <span class="indicator-label">Générer</span>
                      </ng-container>
                    </button>
                  </div>
                </div>
                <!--end::Card toolbar-->
              </div>
              <div class="card-body pt-0">
                <div class="table-responsive angular-bootstrap-table" *ngIf="isLoading">
                  <table datatable [dtOptions]="datatableConfig" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                      <ng-container *ngFor="let column of datatableConfig.columns; let i=index">
                        <th>{{ column.title }}</th>
                      </ng-container>
                    </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a type="button" class="btn btn-sm btn-warning me-3">
              Annuler
            </a>
            <!--end::Button-->
            <button type="button" class="btn btn-sm btn-info me-3">
              <span class="indicator-label">Précalculer</span>
            </button>
            <!--begin::Submit-->
            <button [type]="submitting ? 'button' : 'submit'" class="btn btn-sm btn-primary" (click)="submitting ? null : save()">
              <ng-container *ngIf="submitting">
                    <span class="indicator-progress" [style.display]="'block'">
                      Patientez svp...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
              </ng-container>
              <ng-container *ngIf="!submitting">
                <span class="indicator-label">Générer</span>
              </ng-container>
            </button>
            <!--end::Submit-->
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>

