<div class="modal-header p-2">
  <!--  <div class="modal-title h4">LISTE DE VERIFICATION DES VDE NIVEAU 1</div>-->
  <!--<button type="button" class="close" (click)="modal.dismiss()">
    <span>&times;</span>
  </button>-->

  <!--<button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>-->
</div>
<!--end::Card header-->
<!--begin::Card body-->
<div class="card modal-body p-lg-2">
  <!-- begin::Table-->
  <div class="d-flex justify-content-end">
    <button  style="margin-top: 10px;margin-right: 5px" type="button" class="btn btn-sm btn-success"
             (click)="verifVDE()"     >
      <ng-container *ngIf="exportPdf">
                        <span class="indicator-progress" [style.display]="'block'">
                          Patientez svp...
                          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
      </ng-container>
      <ng-container *ngIf="!exportPdf">
        <span class="indicator-label">
      Aperçu en pdf</span>
      </ng-container>
    </button>
    <button  style="margin-top: 10px;margin-right: 5px" type="button" class="btn btn-sm btn-warning"
             (click)="exportExcel()"     >
      <ng-container *ngIf="export">
                        <span class="indicator-progress" [style.display]="'block'">
                          Patientez svp...
                          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
      </ng-container>
      <ng-container *ngIf="!export">
        <span class="indicator-label">
      Aperçu en excel</span>
      </ng-container>
    </button>
    <button  style="margin-top: 10px;margin-right: 5px" type="button" class="btn btn-sm btn-primary"
             (click)="modifier()"      >
      Confirmez la vérification niveau 2
    </button>
    <!--    <button  style="margin-top: 10px" type="button" class="btn btn-sm btn-success"-->
    <!--             (click)="verifiIntentionRachatN2_Final()"   >-->
    <!--      Télécharger-->
    <!--    </button>-->
    <!--end::Table-->
  </div>
</div>
<!--end::Card body-->
<!--  </div>-->
<!--end::Products-->
<!--</div>-->

