<!--&lt;!&ndash;begin::Products&ndash;&gt;-->
<!--<div class="card card-flush">-->

<!--  &lt;!&ndash;begin::Card header&ndash;&gt;-->
<!--  <div class="card-header align-items-center py-5 gap-2 gap-md-5">-->
<!--      &lt;!&ndash;    &lt;!&ndash;end::Card title&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;    &lt;!&ndash;begin::Card toolbar&ndash;&gt;&ndash;&gt;-->
<!--      <div class="d-flex flex-column flex-lg-row mb-0">-->
<!--        &lt;!&ndash;      &lt;!&ndash;begin::Content&ndash;&gt;&ndash;&gt;-->
<!--        <div class="flex-lg-row-fluid me-0 me-lg-0">-->
<!--          &lt;!&ndash;       &ndash;&gt;-->
<!--          <div class="row mb-5">-->
<!--            &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="col-md-12 fv-row">&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--            <div class="d-flex justify-content-sm-start">-->
<!--              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">-->
<!--                <input type="radio" checked="checked" formControlName="etatPrevu" [value]="true"-->
<!--                       class="form-check-input ng-untouched ng-pristine ng-valid"-->
<!--                id="etatPrevu"  name="etat" (change)="etatPrevuChange()">-->
<!--                <label class="form-check-label text-gray-700 fw-bold text-nowrap">Ce qui est prévu pour le chargé</label>-->
<!--              </div>-->
<!--              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">-->
<!--                <input type="radio" formControlName="etatFourni" [value]="false"-->
<!--                       class="form-check-input ng-untouched ng-pristine ng-valid"-->
<!--                id="etatFourni"  name="etat" (change)="etatFourniChange()">-->
<!--                <label class="form-check-label text-gray-700 fw-bold text-nowrap">Ce qu'à fournir le chargé</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 fv-row">-->
<!--              <label class="required fs-5 fw-semibold mb-2">Chargé(s)</label>-->
<!--              &lt;!&ndash;end::Label&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--              <select-->
<!--                class="form-select form-select-sm form-select-solid"-->
<!--                id="ComboPersonnelEtat">-->
<!--                <option selected>Sélectonnez un chargé</option>-->
<!--                <option *ngFor="let personnel of personnel$.content"-->
<!--                        value="{{personnel.idPersonne}}">{{personnel.denomination}}</option>-->
<!--&lt;!&ndash;                <option>Tous</option>&ndash;&gt;-->
<!--              </select>-->
<!--            </div>-->

<!--            <div class="col-md-6 fv-row">-->
<!--              <label class="required fs-5 fw-semibold mb-2">Périodicité</label>-->
<!--              &lt;!&ndash;end::Label&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--              <select-->
<!--                class="form-select form-select-sm form-select-solid"-->
<!--                id="ComboPeriodicite">-->
<!--                <option selected>Sélectonnez une période</option>-->
<!--                <option *ngFor="let periodicite of periodicite$.content"-->
<!--                        value="{{periodicite.idPeriodicite}}">{{periodicite.libelle}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--            &lt;!&ndash;    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">&ndash;&gt;-->
<!--            <div class="col-md-6 fv-row">-->
<!--              &lt;!&ndash;begin::Add Monnaie&ndash;&gt;-->

<!--              <a (click)="afficherObjetif()" style="margin-right: 5px;margin-top: 20px"  class="btn btn-primary">Valider</a>-->
<!--&lt;!&ndash;              <div *ngIf="etatPrevu">&ndash;&gt;-->
<!--              <button *ngIf="etatPrevu" printTitle="Point périodique des objectifs"-->
<!--                      printSectionId="print-section"-->
<!--                      ngxPrint-->
<!--                      styleSheetFile="assets/css/print.css"-->
<!--                      class="btn btn-primary"-->
<!--                      style="margin-top: 20px">Imprimer</button>-->
<!--              &lt;!&ndash;end::Add Monnaie&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div *ngIf="!etatPrevu">&ndash;&gt;-->
<!--                <button *ngIf="!etatPrevu" printTitle="Point périodique des objectifs"-->
<!--                        printSectionId="print-section-fourni"-->
<!--                        ngxPrint-->
<!--                        styleSheetFile="assets/css/print.css"-->
<!--                        class="btn btn-primary"-->
<!--                        style="margin-top: 20px">Imprimer</button>-->
<!--                &lt;!&ndash;end::Add Monnaie&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;end::Card toolbar&ndash;&gt;-->

<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card header&ndash;&gt;-->
<!--  <div *ngIf="etatPrevu">-->
<!--    <div class="card-body pt-0" id="print-section">-->
<!--      <div class="table-responsive angular-bootstrap-table">-->
<!--        &lt;!&ndash;begin::Table&ndash;&gt;-->
<!--        <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">-->
<!--          <thead>-->
<!--          <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">-->
<!--            &lt;!&ndash;          <th class="w-10px pe-2">&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">&ndash;&gt;-->
<!--            &lt;!&ndash;              <input class="form-check-input" type="checkbox" data-kt-check="true"&ndash;&gt;-->
<!--            &lt;!&ndash;                     data-kt-check-target=".form-check-input" value="1" />&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;          </th>&ndash;&gt;-->
<!--            <th class="min-w-200px">Date</th>-->
<!--            <th class="min-w-200px">Client</th>-->
<!--            <th class="min-w-200px">Catégorie</th>-->
<!--            <th class="min-w-200px">Indicateur</th>-->
<!--            <th class="min-w-200px">Valeur affectée</th>-->
<!--            &lt;!&ndash;          <th class="text-end min-w-70px">Actions</th>&ndash;&gt;-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody class="fw-semibold text-gray-600">-->
<!--          <tr *ngFor="let item of objectifAffecte$" >-->
<!--            &lt;!&ndash;          <td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid">&ndash;&gt;-->
<!--            &lt;!&ndash;              <input class="form-check-input" type="checkbox" value="1" />&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;          </td>&ndash;&gt;-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.affectation.dateAffectation|date :'dd/MM/yyyy'}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.affectation.personnel.denomination}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.categoriePersonne.libelle}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.indicateur.libelle}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.valeurAffecte|number}}-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--        &lt;!&ndash;end::Table&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card body&ndash;&gt;-->

<!--  <div *ngIf="!etatPrevu">-->
<!--    <div class="card-body pt-0" id="print-section-fourni">-->
<!--      <div class="table-responsive angular-bootstrap-table">-->
<!--        &lt;!&ndash;begin::Table&ndash;&gt;-->
<!--        <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">-->
<!--          <thead>-->
<!--          <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">-->
<!--            &lt;!&ndash;          <th class="w-10px pe-2">&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">&ndash;&gt;-->
<!--            &lt;!&ndash;              <input class="form-check-input" type="checkbox" data-kt-check="true"&ndash;&gt;-->
<!--            &lt;!&ndash;                     data-kt-check-target=".form-check-input" value="1" />&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;          </th>&ndash;&gt;-->
<!--            <th class="min-w-200px">Date</th>-->
<!--            <th class="min-w-200px">Client</th>-->
<!--            <th class="min-w-200px">Catégorie</th>-->
<!--            <th class="min-w-200px">Indicateur</th>-->
<!--            <th class="min-w-200px">Valeur affectée</th>-->
<!--            <th class="min-w-200px">Valeur fournie</th>-->
<!--            &lt;!&ndash;          <th class="text-end min-w-70px">Actions</th>&ndash;&gt;-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody class="fw-semibold text-gray-600">-->
<!--          <tr *ngFor="let item of objectifAffecte$" >-->
<!--            &lt;!&ndash;          <td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid">&ndash;&gt;-->
<!--            &lt;!&ndash;              <input class="form-check-input" type="checkbox" value="1" />&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--            &lt;!&ndash;          </td>&ndash;&gt;-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.affectation.dateAffectation|date :'dd/MM/yyyy'}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.affectation.personnel.denomination}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.categoriePersonne.libelle}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.indicateur.libelle}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.valeurAffecte|number}}-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <div class="d-flex align-items-center">-->
<!--                {{ item.valeurReelle|number}}-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--        &lt;!&ndash;end::Table&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card body&ndash;&gt;-->
<!--</div>-->
<!--end::Products-->




<div class="card card-flush">
  <!--begin::Card header-->
  <div class="card-header align-items-center py-5 gap-2 gap-md-5">
    <!--    &lt;!&ndash;end::Card title&ndash;&gt;-->
    <!--    &lt;!&ndash;begin::Card toolbar&ndash;&gt;-->
    <form [formGroup]="formData">
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--      &lt;!&ndash;begin::Content&ndash;&gt;-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--       -->
        <div class="row mb-5">
          <!--begin::Col-->
          <!--            <div class="col-md-12 fv-row">-->
          <!--begin::Label-->
          <div class="d-flex justify-content-sm-start">
            <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
              <input type="radio" checked="checked" formControlName="etatPrevu" [value]="true"
                     class="form-check-input ng-untouched ng-pristine ng-valid"
                     id="etatPrevu"  name="etat" (change)="etatPrevuChange()">
              <label class="form-check-label text-gray-700 fw-bold text-nowrap">Ce qui est prévu pour le chargé</label>
            </div>
            <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
              <input type="radio" formControlName="etatFourni" [value]="false"
                     class="form-check-input ng-untouched ng-pristine ng-valid"
                     id="etatFourni"  name="etat" (change)="etatFourniChange()">
              <label class="form-check-label text-gray-700 fw-bold text-nowrap">Ce qu'à fournir le chargé</label>
            </div>
          </div>
<!--          <div class="col-md-12 fv-row">-->
          <div class="col-md-3 fv-row">
            <label style="margin-top: 10px" class="required fs-5 fw-semibold mb-2">Chargé(s)</label>
            <!--end::Label-->
            <!--begin::Input-->
            <select
              class="form-select form-select-sm form-select-solid"
              id="ComboPersonnelEtat">
              <option selected>Sélectonnez un chargé</option>
              <option *ngFor="let personnel of personnel$"
                      value="{{personnel.idPersonne}}">{{personnel.denomination}}</option>
              <!--                <option>Tous</option>-->
            </select>
          </div>

          <div class="col-md-3 fv-row">
           <label style="margin-top: 10px" class="required fs-5 fw-semibold mb-2">Début</label>
<!--            &lt;!&ndash;end::Label&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--            <select-->
<!--              class="form-select form-select-sm form-select-solid"-->
<!--              id="ComboPeriodicite">-->
<!--              <option selected>Sélectonnez une période</option>-->
<!--              <option *ngFor="let periodicite of periodicite$.content"-->
<!--                      value="{{periodicite.idPeriodicite}}">{{periodicite.libelle}}</option>-->
<!--            </select>-->
            <div class="input-group mb-0">
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm"
                     placeholder="dd/mm/yyyy" ngbDatepicker #d="ngbDatepicker" aria-label="Date début" aria-describedby="basic-addon6"
                     formControlName="startDate" />
              <!--end::Input-->
              <span (click)="d.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon6">
                      <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                  </span>
            </div>
          </div>

          <div class="col-md-3 fv-row">
            <label style="margin-top: 10px" class="required fs-5 fw-semibold mb-2">Fin</label>
            <div class="input-group mb-0">
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm"
                     placeholder="dd/mm/yyyy" ngbDatepicker #d1="ngbDatepicker" aria-label="Date fin" aria-describedby="basic-addon6"
                     formControlName="endDate"/>
              <!--end::Input-->
              <span (click)="d1.toggle()" class="btn btn-sm btn-outline-secondary input-group-text" id="basic-addon7">
                      <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
              </span>
            </div>
          </div>

          <!--    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">-->
          <div class="col-md-3 fv-row">
            <!--begin::Add Monnaie-->
            <a (click)="afficherObjetif()" style="margin-right: 5px;margin-left: 5px;margin-top: 40px"  class="btn btn-sm btn-primary">Valider</a>
            <button  *ngIf="etatPrevu" class="btn btn-sm btn-primary"
                     (click)="imprimer()"
                     style="margin-top: 40px">Imprimer</button>
            <button  *ngIf="!etatPrevu" style="margin-top: 40px" class="btn btn-sm btn-primary"
                     (click)="imprimer()">Imprimer</button>
          </div>
        </div>
          <!--end::Card toolbar-->
        </div>

      </div>
    </form>
    </div>
</div>

<!--<div class="sheet-outer A4" id="reporting">-->
<!--  <section class="sheet padding-2mm">-->
<!--    <article>-->
<!--begin::Card body-->
<div  *ngIf="etatPrevu">
  <!--          <div class="table-responsive angular-bootstrap-table">-->
  <!--begin::Table-->
  <!--            <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5" style="overflow: visible !important;">-->
  <ul class="list-group list-group-flush vert-scrollable-150" id="alldata-objectif-etat-prevu">
  <table class="order-details" id="reporting-objectif">
    <thead>
    <tr>
      <th style="width: 20%" colspan="1">
        <img src="assets/img/spahir2.jpg" />
      </th>
      <th style="width: 80%"  colspan="5" class="text-start company-data">
        <li style="list-style-type:none;">Date: {{dateJour|date:'dd/MM/yyyy hh:mm:ss'}}</li> <br>
        <li style="list-style-type:none;">SAPHIR ASSET MANAGEMENT</li> <br>
        <li style="list-style-type:none;">Tél : +229 20 21 35 10/66 18 01 74</li> <br>
        <li style="list-style-type:none;">Adresse: Rue du Gouverneur Gal Félix EBOUE R. 5.160 CARRE 211 ST MICHEL,3ème étage de
          l'immeuble de la SGI BENIN</li> <br>
      </th>
    </tr>
    <tr>
      <th style="width: 100%" colspan="6">
        <h2 style="text-align: center">Point périodique des objectifs</h2>
      </th>
    </tr>
    <tr class="bg-blue">
      <!--          <th class="w-10px pe-2">-->
      <!--            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">-->
      <!--              <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />-->
      <!--            </div>-->
      <!--          </th>-->
      <th width="20%">Date</th>
      <th width="30%">Client</th>
      <th width="20%">Catégorie</th>
      <th width="15%">Indicateur</th>
      <th width="15%">Périodicité</th>
      <th width="15%">Valeur affectée</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of objectifAffecte$" >
      <!--          <td>-->
      <!--            <div class="form-check form-check-sm form-check-custom form-check-solid">-->
      <!--              <input class="form-check-input" type="checkbox" value="1" />-->
      <!--            </div>-->
      <!--          </td>-->
      <td>
        <div class="d-flex align-items-center">
          {{ item.affectation.dateAffectation|date :'dd/MM/yyyy'}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.affectation.personnel.denomination}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.categoriePersonne.libelle}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.indicateur.libelle}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.periodicite.libelle}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.valeurAffecte|number}}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <!--end::Table-->
  </ul>
</div>
<!--        </div>-->
<!--end::Card body-->

<!--begin::Card body-->
<div class="card-body pt-0" *ngIf="!etatPrevu">
  <div class="table-responsive angular-bootstrap-table">
    <!--begin::Table-->
    <!--            <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">-->
    <ul class="list-group list-group-flush vert-scrollable-150" id="alldata-objectif-etat-prevu-not">
    <table class="order-details" id="reporting-objectif-not">
      <thead>
      <tr>
        <th style="width: 20%" colspan="1">
          <img src="assets/img/spahir2.jpg" />
        </th>
        <th style="width: 80%"  colspan="6" class="text-start company-data">
          <li style="list-style-type:none;">Date: {{dateJour|date:'dd/MM/yyyy hh:mm:ss'}}</li> <br>
          <li style="list-style-type:none;">SAPHIR ASSET MANAGEMENT</li> <br>
          <li style="list-style-type:none;">Tél : +229 20 21 35 10/66 18 01 74</li> <br>
          <li style="list-style-type:none;">Adresse: Rue du Gouverneur Gal Félix EBOUE R. 5.160 CARRE 211 ST MICHEL,3ème étage de
            l'immeuble de la SGI BENIN</li> <br>
        </th>
      </tr>
      <tr>
        <th style="width: 100%" colspan="7">
          <h2 style="text-align: center">Point périodique des objectifs</h2>
        </th>
      </tr>
      <tr class="bg-blue">
        <!--          <th class="w-10px pe-2">-->
        <!--            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">-->
        <!--              <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />-->
        <!--            </div>-->
        <!--          </th>-->
        <th width="10%">Date</th>
        <th width="30%">Client</th>
        <th width="20%">Catégorie</th>
        <th width="15%">Indicateur</th>
        <th width="15%">Périodicité</th>
        <th width="15%">Valeur affectée</th>
        <th width="10%">Valeur fournie</th>
      </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
      <tr *ngFor="let item of objectifAffecte$" >
        <!--          <td>-->
        <!--            <div class="form-check form-check-sm form-check-custom form-check-solid">-->
        <!--              <input class="form-check-input" type="checkbox" value="1" />-->
        <!--            </div>-->
        <!--          </td>-->
        <td>
          <div class="d-flex align-items-center">
            {{ item.affectation.dateAffectation|date :'dd/MM/yyyy'}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.affectation.personnel.denomination}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.categoriePersonne.libelle}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.indicateur.libelle}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.periodicite.libelle}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.valeurAffecte|number}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.valeurReelle|number}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--end::Table-->
  </ul>
  </div>
</div>
<!--end::Card body-->
<br>
<p class="text-center">
  Imprimer avec OPCCIEL 2.0
</p>
<!--    </article>-->
<!--  </section>-->
<!--<section class="sheet padding-5mm">-->
<!--  <article>This is an A4 document.</article>-->
<!--</section>-->
