<div class="card card-flush">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="form" enctype="multipart/form-data" class="form mb-5">
          <div class="row mb-5">
            <!--begin::Col-->
            <!--end::Col-->
            
            <div class="col-md-4 fv-row" >
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Date estimation</label>
              <!--end::Label-->
              <div class="input-group input-group-sm">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm" placeholder="dd/mm/yyyy" ngbDatepicker
                       #dateDebut="ngbDatepicker" aria-label="Date début"
                       formControlName="dateEstimation" (click)="dateDebut.toggle()"/>
                <!--end::Input-->
              </div>
            </div>
            <div class="col-md-4 fv-row" >
                
                  <!--begin::Label-->
                  <label class="fs-5 fw-semibold mb-2">Fréquence</label>
                  <!--end::Label-->
                 
                <!--begin::Select-->
                <select class="form-select form-select-sm mb-2" formControlName="frequence"
                     >
                
                 <option ngValue="TRIMESTRIELLE">TRIMESTRIELLE</option>
                  <option ngValue="SEMESTRIELLE">SEMESTRIELLE</option>
                  <option ngValue="ANNUELLE">ANNUELLE</option>
                </select>
                <!--end::Select-->
               
            </div>
            <div class="col-md-4 fv-row">
              <!--begin::Label-->
              <button style="margin-top: 30px;" type="button" class="btn btn-sm btn-info me-3" (click)="downloading ? null : telecharger()">
                      <ng-container *ngIf="downloading">
                        <span class="indicator-progress" [style.display]="'block'">
                          Patientez svp...
                          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!downloading">
                        <span class="indicator-label">Imprimer</span>
                      </ng-container>
                    </button>
            </div>
              
            </div>
  
            

      
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
