<!-- Connexion à un opcvm -->
<div class="menu-item me-lg-1">
  <a #link type="button" class="btn btn-primary btn-sm py-3" style="text-decoration: none !important;"
     (click)="opcvmForm(link)">
<!--    <span class="menu-title">{{ ((currentOpcvm$|async) != null || (opcvmIsConnected && opcvmIsConnected === "1")) ? 'Déconnexion de opcvm ' : 'Connexion à un opcvm ' }}</span>-->
    <span class="menu-title">{{ currentOpcvm === null || currentOpcvm === undefined ? 'Connexion à Opcvm' : 'Déconnexion de ' + currentOpcvm.denominationOpcvm }}</span>
  </a>
</div>
<!-- Dashboard -->
<!--<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/dashboard">
    <span class="menu-title"
          translate="MENU.DASHBOARD"></span>
  </a>
</div>-->


<!--<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">User Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header" data-kt-scroll-wrappers="#kt_modal_update_customer_scroll"
           data-kt-scroll-offset="300px">
        &lt;!&ndash;begin::Notice&ndash;&gt;
        <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
          &lt;!&ndash;begin::Icon&ndash;&gt;
          <app-keenicon name="information" class="fs-2tx text-primary me-4"></app-keenicon>
          &lt;!&ndash;end::Icon&ndash;&gt;
          &lt;!&ndash;begin::Wrapper&ndash;&gt;
          <div class="d-flex flex-stack flex-grow-1">
            &lt;!&ndash;begin::Content&ndash;&gt;
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">Updating customer details will receive a privacy audit. For more info,
                please read our
                <a href="#">Privacy Policy</a>
              </div>
            </div>
            &lt;!&ndash;end::Content&ndash;&gt;
          </div>
          &lt;!&ndash;end::Wrapper&ndash;&gt;
        </div>
        &lt;!&ndash;end::Notice&ndash;&gt;

        &lt;!&ndash;begin::User toggle&ndash;&gt;
        <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1" aria-controls="kt_modal_update_customer_user_info">User Information
          <span class="ms-2 rotate-180">
            <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed1 }"></i>
          </span>
        </div>
        &lt;!&ndash;end::User toggle&ndash;&gt;
        &lt;!&ndash;begin::User form&ndash;&gt;
        <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
          &lt;!&ndash;begin::Input group&ndash;&gt;
          <div class="fv-row mb-7">
            &lt;!&ndash;begin::Label&ndash;&gt;
            <label class="required fw-semibold fs-6 mb-2">Name</label>
            &lt;!&ndash;end::Label&ndash;&gt;
            &lt;!&ndash;begin::Input&ndash;&gt;
            <input type="text" class="form-control form-control-solid" name="name" [(ngModel)]="userModel.name" #name="ngModel" required minlength="4" />
            <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container&#45;&#45;enabled invalid-feedback">
              <div *ngIf="name.errors?.['required']">Name is required</div>
              <div *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long</div>
            </div>
            &lt;!&ndash;end::Input&ndash;&gt;
          </div>
          &lt;!&ndash;end::Input group&ndash;&gt;
          &lt;!&ndash;begin::Input group&ndash;&gt;
          <div class="fv-row mb-7">
            &lt;!&ndash;begin::Label&ndash;&gt;
            <label class="required fw-semibold fs-6 mb-2">
              <span>Email</span>
              <span class="ms-1" placement="end" ngbTooltip="Email address must be active">
                <app-keenicon name="information" class="fs-7"></app-keenicon>
              </span>
            </label>
            &lt;!&ndash;end::Label&ndash;&gt;
            &lt;!&ndash;begin::Input&ndash;&gt;
            <input type="email" class="form-control form-control-solid" name="email" [(ngModel)]="userModel.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container&#45;&#45;enabled invalid-feedback">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['pattern']">Email is not valid</div>
            </div>
            &lt;!&ndash;end::Input&ndash;&gt;
          </div>
          &lt;!&ndash;end::Input group&ndash;&gt;

          <div class="mb-7">
            <label class="required fw-semibold fs-6 mb-5">Role</label>

            <div *ngFor="let role of (roles$ | async)?.data; let last = last">
              <div class="d-flex fv-row">
                <div class="form-check form-check-custom form-check-solid">
                  <input class="form-check-input me-3" id="kt_modal_update_role_option_{{ role.id }}" name="role" #role="ngModel" [(ngModel)]="userModel.role" type="radio" [value]="role.name" [checked]="last" />
                  <label class="form-check-label" for="kt_modal_update_role_option_{{ role.id }}">
                    <div class="fw-bold text-gray-800">
                      {{ role.name | titlecase }}
                    </div>
                    <div class="text-gray-600">
                      {{ role.name }}
                    </div>
                  </label>
                </div>
              </div>
              <div *ngIf="!last" class="separator separator-dashed my-5"></div>
            </div>

          </div>

        </div>
        &lt;!&ndash;end::User form&ndash;&gt;
      </div>
    </div>
    <div class="modal-footer flex-center">
      &lt;!&ndash;begin::Button&ndash;&gt;
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">
        Discard
      </button>
      &lt;!&ndash;end::Button&ndash;&gt;

      &lt;!&ndash;begin::Button&ndash;&gt;
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      &lt;!&ndash;end::Button&ndash;&gt;
    </div>
  </form>
</ng-template>-->
