<div class="card card-flush">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <!--        <form [formGroup]="form" enctype="multipart/form-data" class="form mb-5">-->
        <div class="row mb-5">
          <div class="card">
            <div class="card-header border-0 pt-6">
              <!--begin::Card title-->
              <div class="card-title">
                <!--begin::Search-->
                <div class="d-flex align-items-center position-relative my-1">
                  <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
                  <input type="text" data-action="filter" class="form-control form-control-sm form-control-sm form-control-solid w-250px ps-12">
                </div>
                <!--end::Search-->
              </div>
              <!--end::Card title-->
              <!--begin::Card toolbar-->
              <div class="card-toolbar">
                <div class="d-flex justify-content-end">
                  <button [type]="submitting ? 'button' : 'submit'" class="btn btn-sm btn-primary me-3" (click)="submitting ? null : actualiser()">
                    <ng-container *ngIf="submitting">
                    <span class="indicator-progress" [style.display]="'block'">
                      Patientez svp...
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                    </ng-container>
                    <ng-container *ngIf="!submitting">
                      <span class="indicator-label">Actualiser</span>
                    </ng-container>
                  </button>
                  <button type="button" class="btn btn-sm btn-success me-3" routerLink="/opcvm/comptabilite/paiement/commission">
                    <ng-container *ngIf="downloading">
                        <span class="indicator-progress" [style.display]="'block'">
                          Patientez svp...
                          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="!downloading">
                      <span class="indicator-label">Nouveau Paiement</span>
                    </ng-container>
                  </button>
                </div>
              </div>
              <!--end::Card toolbar-->
            </div>
            <div class="card-body pt-0">
              <div class="table-responsive angular-bootstrap-table">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                  <thead>
                  <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                    <ng-container *ngFor="let column of dtOptions.columns; let i=index">
                      <th>{{ column.title }}</th>
                    </ng-container>
                  </tr>
                  </thead>
                  <tbody class="fw-semibold text-gray-600">
                  </tbody>
                </table>
                <div #details class="details hidden"></div>
              </div>
            </div>
          </div>
        </div>
        <!--        </form>-->
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
