.client1 {
  display:inline-block;
  width:12em;
  margin-left: 10px;
}

.client2 {
  display:inline-block;
  width:15em;
  margin-left: 10px;
}
.div1 {
  display: inline-block;
}
p{
  //display: inline-block;
  margin-top: 0px;
}
