/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

/*div.dataTables_filter {
  display: none;
}*/

.dt-buttons {
  /* margin-bottom: -7px; */
  position: absolute;
  left: 0;
  text-align: center;
  padding: 1rem 0;
}

.group {
  font-style: italic;
  font-weight: bold;
  color: white !important;
}

.group th {
  padding: 5px !important;
}
