<div class="card card-flush mb-3">
    <!--begin::Card header-->
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
      <div class="d-flex flex-column flex-lg-row mb-0">
        <!--begin::Content-->
        <div class="flex-lg-row-fluid me-0 me-lg-0">
          <div class="col-md-12 fv-row">
            <!--begin::Label-->
            <label class="required fs-5 fw-semibold mb-2">Chargé(s)</label>
            <!--end::Label-->
            <!--begin::Input-->
            <select
              class="form-select form-select-sm form-select-solid"
              id="ComboPersonnel">
              <option selected>Sélectonnez un chargé</option>
              <option *ngFor="let personnel of personnel$"
                      value="{{personnel.idPersonne}}">{{personnel.denomination}}</option>
              <option>Tous</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-toolbar flex-row-fluid  gap-5">
        <!--begin::Add Monnaie-->
      <a (click)="afficherRDV()" style="margin-right: 5px;margin-left: 5px;margin-top: 25px"  class="btn btn-sm btn-primary">Valider</a>
      <button  *ngIf="!afficherTous" class="btn btn-sm btn-primary"
               (click)="downloadPdf('reporting-rdv-not','alldata-rdv-not')"
               style="margin-top: 25px">Imprimer</button>
      <button  *ngIf="afficherTous" class="btn btn-sm btn-primary"
               (click)="downloadPdf('reporting-rdv','alldata-rdv')"
               style="margin-top: 25px">Imprimer</button>
  <!--      &lt;!&ndash;end::Add Monnaie&ndash;&gt;-->
      </div>
      <!--end::Card toolbar-->
    </div>
    </div>
<!--<div class="sheet-outer A4" id="reporting">-->
<!--  <section class="sheet padding-2mm">-->
<!--    <article>-->
<!--begin::Card body-->
<div *ngIf="!afficherTous">
  <!--          <div class="table-responsive angular-bootstrap-table">-->
  <!--begin::Table-->
  <!--            <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5" style="overflow: visible !important;">-->
  <ul class="list-group list-group-flush vert-scrollable-150" id="alldata-rdv-not">
  <table class="order-details" id="reporting-rdv-not">
    <thead>
    <tr>
      <th style="width: 20%" colspan="1">
        <img src="assets/img/spahir2.jpg" />
      </th>
      <th style="width: 80%"  colspan="4" class="text-start company-data">
        <li style="list-style-type:none;">Date: {{dateJour|date:'dd/MM/yyyy hh:mm:ss'}}</li> <br>
        <li style="list-style-type:none;">SAPHIR ASSET MANAGEMENT</li> <br>
        <li style="list-style-type:none;">Tél : +229 20 21 35 10/66 18 01 74</li> <br>
        <li style="list-style-type:none;">Adresse: Rue du Gouverneur Gal Félix EBOUE R. 5.160 CARRE 211 ST MICHEL,3ème étage de
          l'immeuble de la SGI BENIN</li> <br>
      </th>
    </tr>
    <tr>
      <th style="width: 100%" colspan="5">
        <h2 style="text-align: center">Liste des rendez-vous planifiés</h2>
      </th>
    </tr>
    <tr class="bg-blue">
      <th style="width:5%">Date début</th>
      <th style="width:50%">Objet</th>
      <th style="width:5%">Date fin</th>
<!--      <th style="width:5%">Heure fin</th>-->
      <th style="width:20%">Client/prospect</th>
      <th style="width:15%">Adresse</th>
      <!--          <th class="text-end min-w-70px">Actions</th>-->
    </tr>
    </thead>
    <tbody class="fw-semibold text-gray-600">
    <tr *ngFor="let item of agentConcerne$" >
      <td>
        <div class="d-flex align-items-center">
          {{ item.rdvDto.dateDebRdv| date: 'dd/MM/yyyy'}} {{item.rdvDto.heureDebutRdv}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.rdvDto.objetRdv}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.rdvDto.dateFinRdv | date: 'dd/MM/yyyy'}} {{ item.rdvDto.heureFinRdv}}
        </div>
      </td>
<!--      <td>-->
<!--        <div class="d-flex align-items-center">-->
<!--          {{ item.rdvDto.heureFinRdv}}-->
<!--        </div>-->
<!--      </td>-->
      <td>
        <div class="d-flex align-items-center">
          {{ item.rdvDto.personnePhysiqueMoraleDto.denomination}}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.rdvDto.quartierDto.libelleQuartier}}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <!--end::Table-->
  </ul>
</div>
<!--        </div>-->
<!--end::Card body-->

<!--begin::Card body-->
<div *ngIf="afficherTous">
  <div class="table-responsive angular-bootstrap-table">
    <!--begin::Table-->
    <!--            <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">-->
    <ul class="list-group list-group-flush vert-scrollable-150" id="alldata-rdv">
      <table class="order-details" id="reporting-rdv">
      <thead>
      <tr>
        <th style="width: 20%" colspan="1">
          <img src="assets/img/spahir2.jpg" />
        </th>
        <th style="width: 80%"  colspan="5" class="text-start company-data">
          <li style="list-style-type:none;">Date: {{dateJour|date:'dd/MM/yyyy hh:mm:ss'}}</li> <br>
          <li style="list-style-type:none;">SAPHIR ASSET MANAGEMENT</li> <br>
          <li style="list-style-type:none;">Tél : +229 20 21 35 10/66 18 01 74</li> <br>
          <li style="list-style-type:none;">Adresse: Rue du Gouverneur Gal Félix EBOUE R. 5.160 CARRE 211 ST MICHEL,3ème étage de
            l'immeuble de la SGI BENIN</li> <br>
        </th>
      </tr>
      <tr>
        <th style="width: 100%" colspan="6">
          <h2 style="text-align: center">Liste des rendez-vous planifiés</h2>
        </th>
      </tr>
      <tr class="bg-blue">
        <th style="width:5%">Date début</th>
        <th style="width:50%">Objet</th>
        <th style="width:5%">Date fin</th>
        <th style="width:5%">Heure fin</th>
        <th style="width:20%">Client/prospect</th>
        <th style="width:15%">Adresse</th>
        <!--          <th class="text-end min-w-70px">Actions</th>-->
      </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
      <tr *ngFor="let item of rdv$" >
        <td>
          <div class="d-flex align-items-center">
            {{ item.dateDebRdv| date: 'dd/MM/yyyy'}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.objetRdv}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.dateFinRdv| date: 'dd/MM/yyyy'}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.heureFinRdv}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.personnePhysiqueMoraleDto.denomination}}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.quartierDto.libelleQuartier}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--end::Table-->
    </ul>
  </div>
</div>
<!--end::Card body-->
<br>
<p class="text-center">
  Imprimer avec OPCCIEL 2.0
</p>
