<!--&lt;!&ndash;begin::Products&ndash;&gt;-->
<!--<div class="card card-flush">-->
<!--  &lt;!&ndash;begin::Card header&ndash;&gt;-->
<!--  <div class="card-header align-items-center py-5 gap-2 gap-md-5">-->
<!--    <form [formGroup]="formData">-->
<!--    &lt;!&ndash;begin::Card title&ndash;&gt;-->
<!--      <div class="d-flex flex-column flex-lg-row mb-0">-->
<!--        &lt;!&ndash;      &lt;!&ndash;begin::Content&ndash;&gt;&ndash;&gt;-->
<!--        <div class="flex-lg-row-fluid me-0 me-lg-0">-->
<!--          &lt;!&ndash;       &ndash;&gt;-->
<!--          <div class="row mb-5">-->
<!--            &lt;!&ndash;begin::Col&ndash;&gt;-->
<!--            &lt;!&ndash;            <div class="col-md-12 fv-row">&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Label&ndash;&gt;-->

<!--            <div class="col-md-6 fv-row">-->
<!--            &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--            <label class="required fs-5 fw-semibold mb-2">Client</label>-->
<!--            &lt;!&ndash;end::Label&ndash;&gt;-->
<!--            &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--            <select-->
<!--              class="form-select form-select-sm form-select-solid"-->
<!--              id="ComboClientNonInvesti">-->
<!--              <option selected>Personne physique</option>-->
<!--              <option>Personne morale</option>-->
<!--            </select>-->
<!--          </div>-->

<!--            <div class="col-md-6 fv-row">-->
<!--              <label class="required fs-5 fw-semibold mb-2">Début</label>-->
<!--              &lt;!&ndash;end::Label&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--              <input type="date"  class="form-control form-control-sm form-control-solid"-->
<!--                     placeholder="" formControlName="dateDebut"/>-->
<!--            </div>-->

<!--            &lt;!&ndash;begin::Label&ndash;&gt;-->
<!--            <div class="col-md-6 fv-row">-->
<!--              <label class="required fs-5 fw-semibold mb-2">Fin</label>-->
<!--              &lt;!&ndash;end::Label&ndash;&gt;-->
<!--              &lt;!&ndash;begin::Input&ndash;&gt;-->
<!--              <input type="date"  class="form-control form-control-sm form-control-solid"-->
<!--                     placeholder="" formControlName="dateFin"/>-->
<!--            </div>-->
<!--            &lt;!&ndash;    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">&ndash;&gt;-->
<!--            <div class="col-md-6 fv-row">-->
<!--              &lt;!&ndash;begin::Add Monnaie&ndash;&gt;-->

<!--              <a (click)="afficherClient()" style="margin-right: 5px;margin-top: 20px"  class="btn btn-primary">Valider</a>-->
<!--              <button *ngIf="prospect=='Personne physique'"-->
<!--                      printTitle="Liste des clients (personnes physiques) n'ayant pas investi du-->
<!--                      {{dateDebut.substring(0,10)}} au {{dateFin.substring(0,10)}}"-->
<!--                      printSectionId="print-section-physique"-->
<!--                      ngxPrint-->
<!--                      styleSheetFile="assets/css/print.css"-->
<!--                      class="btn btn-primary"-->
<!--                      style="margin-top: 20px">Imprimer</button>-->
<!--              <button *ngIf="prospect=='Personne morale'"-->
<!--                      printTitle="Liste des clients (personnes morales) n'ayant pas investi du-->
<!--                      {{dateDebut.substring(0,10)}} au {{dateFin.substring(0,10)}}"-->
<!--                      printSectionId="print-section-morale"-->
<!--                      ngxPrint-->
<!--                      styleSheetFile="assets/css/print.css"-->
<!--                      class="btn btn-primary"-->
<!--                      style="margin-top: 20px">Imprimer</button>-->
<!--              &lt;!&ndash;end::Add Monnaie&ndash;&gt;-->
<!--            </div>-->
<!--            </div>-->
<!--            </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;end::Card title&ndash;&gt;-->
<!--  </form>-->
<!--    &lt;!&ndash;end::Card toolbar&ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card header&ndash;&gt;-->
<!--  &lt;!&ndash;begin::Card body&ndash;&gt;-->
<!--  <div class="card-body pt-0" *ngIf="prospect=='Personne physique'">-->
<!--    <div class="table-responsive angular-bootstrap-table" id="print-section-physique">-->
<!--      &lt;!&ndash;begin::Table&ndash;&gt;-->
<!--      <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5" style="overflow: visible !important;">-->
<!--        <thead>-->
<!--        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">-->
<!--&lt;!&ndash;          <th class="w-10px pe-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--          <th class="min-w-200px">NOM</th>-->
<!--          <th class="min-w-200px">PRENOM(S)</th>-->
<!--          <th class="min-w-200px">SEXE</th>-->
<!--          <th class="min-w-20px">MOBILE 1</th>-->
<!--          <th class="min-w-20px">MOBILE 2</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody class="fw-semibold text-gray-600">-->
<!--        <tr *ngFor="let item of personnes$">-->
<!--&lt;!&ndash;          <td>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid">&ndash;&gt;-->
<!--&lt;!&ndash;              <input class="form-check-input" type="checkbox" value="1" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.nom }}-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.prenom }}-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.sexe }}-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.mobile1 }}-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.mobile2 }}-->
<!--            </div>-->
<!--          </td>-->

<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      &lt;!&ndash;end::Table&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card body&ndash;&gt;-->

<!--  &lt;!&ndash;begin::Card body&ndash;&gt;-->
<!--  <div class="card-body pt-0" *ngIf="prospect=='Personne morale'">-->
<!--    <div class="table-responsive angular-bootstrap-table" id="print-section-morale">-->
<!--      &lt;!&ndash;begin::Table&ndash;&gt;-->
<!--      <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">-->
<!--        <thead>-->
<!--        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">-->
<!--&lt;!&ndash;          <th class="w-10px pe-2">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </th>&ndash;&gt;-->
<!--          <th class="min-w-200px">SIGLE</th>-->
<!--          <th class="min-w-200px">RAISON SOCIALE</th>-->
<!--          <th class="min-w-200px">SITE WEB</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody class="fw-semibold text-gray-600">-->
<!--        <tr *ngFor="let item of personnes$">-->
<!--&lt;!&ndash;          <td>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-check form-check-sm form-check-custom form-check-solid">&ndash;&gt;-->
<!--&lt;!&ndash;              <input class="form-check-input" type="checkbox" value="1" />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.sigle }}-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              {{ item.raisonSociale }}-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <div class="d-flex align-items-center">-->
<!--              <a href="{{ item.siteWeb }}" target="_blank">{{ item.siteWeb }}</a>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      &lt;!&ndash;end::Table&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash;end::Card body&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;end::Products&ndash;&gt;-->


<div class="card card-flush">
  <!--begin::Card header-->
  <div class="card-header align-items-center py-5 gap-2 gap-md-5">
    <form [formGroup]="formData">
    <!--begin::Card title-->
      <div class="d-flex flex-column flex-lg-row mb-0">
        <!--      &lt;!&ndash;begin::Content&ndash;&gt;-->
        <div class="flex-lg-row-fluid me-0 me-lg-0">
          <!--       -->
          <div class="row mb-5">
            <!--begin::Col-->
            <!--            <div class="col-md-12 fv-row">-->
            <!--begin::Label-->

            <div class="col-md-3 fv-row">
            <!--begin::Label-->
            <label class="required fs-5 fw-semibold mb-2">Client</label>
            <!--end::Label-->
            <!--begin::Input-->
            <select
              class="form-select form-select-sm form-select-solid"
              id="ComboClientNonInvesti">
              <option selected>Personne physique</option>
              <option>Personne morale</option>
            </select>
          </div>

            <div class="col-md-3 fv-row">
              <label class="required fs-5 fw-semibold mb-2">Début</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="date"  class="form-control form-control-sm form-control-solid"
                     placeholder="" formControlName="dateDebut"/>
            </div>

            <!--begin::Label-->
            <div class="col-md-3 fv-row">
              <label class="required fs-5 fw-semibold mb-2">Fin</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="date"  class="form-control form-control-sm form-control-solid"
                     placeholder="" formControlName="dateFin"/>
            </div>
            <!--    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">-->
            <div class="col-md-4 fv-row">
        <!--          <div class="col-md-12 fv-row">-->
        <a (click)="afficherClient()" style="margin-right: 5px;margin-left: 5px;margin-top: 20px"
           class="btn btn-sm btn-primary">Valider</a>
        <button  *ngIf="prospect=='Personne physique'" class="btn btn-sm btn-primary"
                 (click)="imprimer()" style="margin-top: 20px">Imprimer</button>
        <button  *ngIf="prospect=='Personne morale'" class="btn btn-sm btn-primary"
                 (click)="imprimer()" style="margin-top: 20px">Imprimer</button>
        <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
  </div>

<!--<div class="sheet-outer A4" id="reporting">-->
<!--  <section class="sheet padding-2mm">-->
<!--    <article>-->
<!--begin::Card body-->
<div  *ngIf="prospect=='Personne physique'">
  <!--          <div class="table-responsive angular-bootstrap-table">-->
  <!--begin::Table-->
  <!--            <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5" style="overflow: visible !important;">-->
  <ul class="list-group list-group-flush vert-scrollable-150" id="alldata-client-pas-investi-physique">
  <table class="order-details" id="reporting-pas-investi-physique">
    <thead>
    <tr>
      <th style="width: 20%" colspan="1">
        <img src="assets/img/spahir2.jpg" />
      </th>
      <th style="width: 80%"  colspan="4" class="text-start company-data">
        <li style="list-style-type:none;">Date: {{dateJour|date:'dd/MM/yyyy hh:mm:ss'}}</li> <br>
        <li style="list-style-type:none;">SAPHIR ASSET MANAGEMENT</li> <br>
        <li style="list-style-type:none;">Tél : +229 20 21 35 10/66 18 01 74</li> <br>
        <li style="list-style-type:none;">Adresse: Rue du Gouverneur Gal Félix EBOUE R. 5.160 CARRE 211 ST MICHEL,3ème étage de
          l'immeuble de la SGI BENIN</li> <br>
      </th>
    </tr>
    <tr>
      <th style="width: 100%" colspan="5">
        <h2 style="text-align: center">Liste des clients(personnes physiques)</h2>
      </th>
    </tr>
    <tr class="bg-blue">
      <!--          <th class="w-10px pe-2">-->
      <!--            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">-->
      <!--              <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />-->
      <!--            </div>-->
      <!--          </th>-->
      <th width="20%">NOM</th>
      <th width="30%">PRENOM(S)</th>
      <th width="20%">SEXE</th>
      <th width="15%">MOBILE 1</th>
      <th width="15%">MOBILE 2</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of personnes$">
      <td>
        <div class="d-flex align-items-center">
          {{ item.nom }}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.prenom }}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.sexe }}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.mobile1 }}
        </div>
      </td>
      <td>
        <div class="d-flex align-items-center">
          {{ item.mobile2 }}
        </div>
      </td>

    </tr>
    </tbody>
  </table>
  <!--end::Table-->
  </ul>
</div>
<!--        </div>-->
<!--end::Card body-->

<!--begin::Card body-->
<div class="card-body pt-0" *ngIf="prospect=='Personne morale'">
  <div class="table-responsive angular-bootstrap-table">
    <!--begin::Table-->
    <!--            <table class="t1 table table-head-custom table-vertical-center overflow-hidden align-middle table-row-dashed fs-6 gy-5">-->
    <ul class="list-group list-group-flush vert-scrollable-150" id="alldata-client-pas-investi-morale">
    <table class="order-details" id="reporting-pas-investi-morale">
      <thead>
      <tr>
        <th style="width: 20%" colspan="1">
          <img src="assets/img/spahir2.jpg" />
        </th>
        <th style="width: 80%"  colspan="4" class="text-start company-data">
          <li style="list-style-type:none;">Date: {{dateJour|date:'dd/MM/yyyy hh:mm:ss'}}</li> <br>
          <li style="list-style-type:none;">SAPHIR ASSET MANAGEMENT</li> <br>
          <li style="list-style-type:none;">Tél : +229 20 21 35 10/66 18 01 74</li> <br>
          <li style="list-style-type:none;">Adresse: Rue du Gouverneur Gal Félix EBOUE R. 5.160 CARRE 211 ST MICHEL,3ème étage de
            l'immeuble de la SGI BENIN</li> <br>
        </th>
      </tr>
      <tr>
        <th style="width: 100%" colspan="5">
          <h2 style="text-align: center">Liste des clients(personnes morales)</h2>
        </th>
      </tr>
      <tr class="bg-blue">
        <!--          <th class="w-10px pe-2">-->
        <!--            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">-->
        <!--              <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_products_table .form-check-input" value="1" />-->
        <!--            </div>-->
        <!--          </th>-->
        <th class="min-w-200px">SIGLE</th>
        <th class="min-w-200px">RAISON SOCIALE</th>
        <th class="min-w-200px">SITE WEB</th>
      </tr>
      </thead>
      <tbody class="fw-semibold text-gray-600">
      <tr *ngFor="let item of personnes$">
        <!--          <td>-->
        <!--            <div class="form-check form-check-sm form-check-custom form-check-solid">-->
        <!--              <input class="form-check-input" type="checkbox" value="1" />-->
        <!--            </div>-->
        <!--          </td>-->
        <td>
          <div class="d-flex align-items-center">
            {{ item.sigle }}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            {{ item.raisonSociale }}
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <a href="{{ item.siteWeb }}" target="_blank">{{ item.siteWeb }}</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--end::Table-->
    </ul>
  </div>
</div>
<!--end::Card body-->
<br>
<p class="text-center">
  Imprimer avec OPCCIEL 2.0
</p>
<!--    </article>-->
<!--  </section>-->
<!--<section class="sheet padding-5mm">-->
<!--  <article>This is an A4 document.</article>-->
<!--</section>-->
