<div class="card">
  <!--begin::Body-->
  <div class="card-body p-lg-5">
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row mb-0">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-0 me-lg-0">
        <!--begin::Form-->
        <form [formGroup]="entityForm" class="form mb-5">
          <div class="row mb-0">
            <label class="col-lg-2 col-form-label fw-bold fs-6">Est actif ?</label>
            <div class="col-lg-10 d-flex align-items-center">
              <div class="form-check form-check-solid form-switch fv-row">
                <input type="checkbox" formControlName="estActif" class="form-check-input w-45px h-30px">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
          <hr>
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Civilité</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select name="civilite" class="form-select form-select-sm mb-2"
                      formControlName="civilite" [ngClass]="{ 'is-invalid': submitted && f.civilite.errors }">
                <option disabled value="null">Sélectionnez une civilité...</option>
                <option value="M.">M.</option>
                <option value="Mme.">Mme.</option>
                <option value="Mlle.">Mlle.</option>
                <option value="Ame." [selected]="true">Anonyme</option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.civilite.errors" class="invalid-feedback">
                <div *ngIf="f.civilite.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Statut matrimonial</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select name="statutMatrimonial" class="form-select form-select-sm mb-2"
                      formControlName="statutMatrimonial"
                      [ngClass]="{ 'is-invalid': submitted && f.statutMatrimonial.errors }">
                <option disabled value="null">Sélectionnez le statut matrimonial...</option>
                <option value="Célibataire">Célibataire</option>
                <option value="Célibataire avec enfant(s)">Célibataire avec enfant(s)</option>
                <option value="Marié(e)">Marié(e)</option>
                <option value="Veuf(ve)">Veuf(ve)</option>
                <option value="Ame." [selected]="true">Anonyme</option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.statutMatrimonial.errors" class="invalid-feedback">
                <div *ngIf="f.statutMatrimonial.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Nom</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="Nom" formControlName="nom"
                     [ngClass]="{ 'is-invalid': submitted && f.nom.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Prénom(s)</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="Prénom(s)" formControlName="prenom"
                     [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                <div *ngIf="f.prenom.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Sexe</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select class="form-select form-select-sm mb-2"
                      formControlName="sexe" [ngClass]="{ 'is-invalid': submitted && f.sexe.errors }">
                <option disabled value="null">Sélectionnez un sexe...</option>
                <option value="Masculin">Masculin</option>
                <option value="Féminin">Féminin</option>
                <option value="Anonyme" [selected]="true">Anonyme</option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.sexe.errors" class="invalid-feedback">
                <div *ngIf="f.sexe.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Date de naissance</label>
              <!--end::Label-->
              <div class="input-group mb-0">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-sm form-control-solid"
                       placeholder="dd/mm/yyyy" ngbDatepicker #d1="ngbDatepicker"
                       formControlName="dateNaissance"
                       [ngClass]="{ 'is-invalid': submitted && f.dateNaissance.errors }"/>
                <!--end::Input-->
                <span (click)="d1.toggle()" class="btn btn-sm btn-outline-secondary input-group-text">
                      <i class="ki-duotone ki-calendar fs-4"><span class="path1"></span><span class="path2"></span></i>
                  </span>
              </div>

              <div *ngIf="submitted && f.dateNaissance.errors" class="invalid-feedback">
                <div *ngIf="f.dateNaissance.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Nationalité</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select data-value="idPays" class="form-select form-select-sm mb-2"
                      formControlName="paysNationalite"
                      [ngClass]="{ 'is-invalid': submitted && f.paysNationalite.errors }">
                <option [defaultSelected]="true" disabled [ngValue]="defaultPaysNationalite"
                        *ngIf="defaultPaysNationalite">
                  {{ defaultPaysNationalite.libelleFr }}</option>
                <option *ngFor="let item of payss$" [ngValue]="item">
                  {{ item.libelleFr }}
                </option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.paysNationalite.errors" class="invalid-feedback">
                <div *ngIf="f.paysNationalite.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Pays de résidence</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select class="form-select form-select-sm mb-2"
                      formControlName="paysResidence"
                      [ngClass]="{ 'is-invalid': submitted && f.paysResidence.errors }">
                <option [defaultSelected]="true" disabled [ngValue]="defaultPaysResidence"
                        *ngIf="defaultPaysResidence">
                  {{ defaultPaysResidence.libelleFr }}</option>
                <option *ngFor="let item of payss$" [ngValue]="item">
                  {{ item.libelleFr }}
                </option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.paysResidence.errors" class="invalid-feedback">
                <div *ngIf="f.paysResidence.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Profession</label>
              <!--end::Label-->
              <!--begin::Select-->
              <select class="form-select form-select-sm mb-2" formControlName="profession"
                      [ngClass]="{ 'is-invalid': submitted && f.profession.errors }">
                <option [defaultSelected]="true" disabled [ngValue]="defaultProfession" *ngIf="defaultProfession">
                  {{ defaultProfession.libelleProfession }}</option>
                <option *ngFor="let item of professions$" [ngValue]="item">
                  {{ item.libelleProfession }}
                </option>
              </select>
              <!--end::Select-->
              <div *ngIf="submitted && f.paysNationalite.errors" class="invalid-feedback">
                <div *ngIf="f.paysNationalite.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Mobile 1</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input appNumeroPositifValidators type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="Mobile 1" formControlName="mobile1"
                     [ngClass]="{ 'is-invalid': submitted && f.mobile1.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.mobile1.errors" class="invalid-feedback">
                <div *ngIf="f.mobile1.errors.required">Mobile 1 est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <hr>
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Nom d'utilisateur</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="Nom d'utilisateur" formControlName="username"
                     [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-semibold mb-2">Mot de passe</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="password" class="form-control form-control-sm form-control-solid"
                     placeholder="Mot de passe" formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Email professionnel</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="Email professionnel" formControlName="emailPro"
                     [ngClass]="{ 'is-invalid': submitted && f.emailPro.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.emailPro.errors" class="invalid-feedback">
                <div *ngIf="f.emailPro.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-6 fv-row">
              <!--begin::Label-->
              <label class="fs-5 fw-semibold mb-2">Email personnel</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" class="form-control form-control-sm form-control-solid"
                     placeholder="Email personnel" formControlName="emailPerso"
                     [ngClass]="{ 'is-invalid': submitted && f.emailPerso.errors }"/>
              <!--end::Input-->
              <div *ngIf="submitted && f.emailPerso.errors" class="invalid-feedback">
                <div *ngIf="f.emailPerso.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <hr>
          <!--end::Input group-->
          <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
            <label class="col-md-2 control-label">
              <h5>Tout sélectionner</h5>
            </label>
            <div class="col-md-2 radio-inline">
              <input type="checkbox" name="all" class="form-check-input me-3">
            </div>
            <div class="col-md-8">
              <div class="input-group mb-3">
                <input type="text" name="title" #search class="form-control form-control-sm"
                       placeholder="Rechercher un rôle..." (keyup)="searchRoles(search.value)"/>
                <!--<div class="input-group-append">
                  <button class="btn btn-sm btn-outline-secondary" type="button">
                    Rechercher
                  </button>
                </div>-->
              </div>
            </div>
          </div>
          <ng-container *ngIf="(roles$ | async) as roles">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
              <ng-container *ngIf="roles.length > 0">
                <!--begin::Col-->
<!--                <div class="col-md-4" formArrayName="allRoles" *ngFor="let control of allRoles.controls | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">-->
                <div class="col-md-4" formArrayName="allRoles" *ngFor="let control of allRoles.controls; let i = index">
                  <ng-container [formGroupName]="i">
                    <!--begin::Card-->
                    <div class="card card-flush h-md-100">
                      <!--begin::Card header-->
                      <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                          <input type="checkbox" formControlName="etat" [readOnly]="true" [checked]="control.value.etat"
                                 [value]="control.value" class="form-check-input me-3">
                          <h5>{{ roles[i].nom }}</h5>
                        </div>
                        <!--end::Card title-->
                      </div>
                      <!--end::Card header-->
                      <!--begin::Card body-->
                      <div class="card-body pt-1" *ngIf="getPermissions(i) && getPermissions(i)?.controls.length > 0">
                        <!--begin::Users-->
                        <!--                          <div class="fw-bold text-gray-600 mb-5">Nombre total d'utilisateurs ayant ce role: {{ role.utilisateurs1.length }}</div>-->
                        <!--end::Users-->
                        <!--begin::Permissions-->
                        <div class="d-flex flex-column text-gray-600">
                          <ng-container formArrayName="permissions"
                                        *ngFor="let permissionCtrl of getPermissions(i)?.controls; let j = index">
                            <div class="d-flex align-items-center py-2" [formGroupName]="j">
                              <!--                                <span class="bullet bg-primary me-3"></span>-->
                              <input type="checkbox" formControlName="etat" [checked]="permissionCtrl.value.etat"
                                     [value]="permissionCtrl.value" class="form-check-input me-3"
                                     (change)="onPermissionCheckChange($event, i, permissionCtrl.value)">
                              {{ permissionCtrl.value.permission.libellePermis }}
                            </div>
                          </ng-container>
                        </div>
                        <!--end::Permissions-->
                      </div>
                      <!--end::Card body-->
                      <!--begin::Card footer-->
                      <!--<div class="card-footer flex-wrap pt-0">
                        <a [routerLink]="['/apps/roles', role.idRole]" class="btn btn-light btn-active-primary my-1 me-2">Afficher Role</a>
                        <button type="button" class="btn btn-light btn-active-light-primary my-1" [attr.data-id]="role.idRole" data-action="edit">Modifier Role</button>
                      </div>-->
                      <!--end::Card footer-->
                    </div>
                    <!--end::Card-->
                  </ng-container>
                </div>
                <!--end::Col-->
              </ng-container>
              <!--<ng-container *ngIf="roles.length <= 0">
                <div class="row mb-5">
                  <div formArrayName="allRoles" *ngFor="let control of allRoles.controls; let i = index"
                       class="col-md-3 fv-row">
                    <ng-container [formGroupName]="i">
                      &lt;!&ndash;begin::Card&ndash;&gt;
                      <div class="card card-flush h-md-100">
                        &lt;!&ndash;begin::Card header&ndash;&gt;
                        <div class="card-header">
                          &lt;!&ndash;begin::Card title&ndash;&gt;
                          <div class="card-title">
                            <input type="checkbox" formControlName="etat" [checked]="control.value.etat"
                                   [value]="control.value" class="form-check-input me-3"
                                   (change)="onCheckChange($event, control.value)">
                            <h5>{{ control.value.role.nom }}</h5>
                          </div>
                          &lt;!&ndash;end::Card title&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Card header&ndash;&gt;
                        &lt;!&ndash;begin::Card body&ndash;&gt;
                        <div class="card-body pt-1">
                          &lt;!&ndash;begin::Users&ndash;&gt;
                          &lt;!&ndash;                          <div class="fw-bold text-gray-600 mb-5">Nombre total d'utilisateurs ayant ce role: {{ role.utilisateurs1.length }}</div>&ndash;&gt;
                          &lt;!&ndash;end::Users&ndash;&gt;
                          &lt;!&ndash;begin::Permissions&ndash;&gt;
                          <div class="d-flex flex-column text-gray-600">
                            <ng-container *ngFor="let permission of getPermissions(i)?.controls; let j = index">
                              <div class="d-flex align-items-center py-2" [formGroupName]="j">
                                &lt;!&ndash;                                <span class="bullet bg-primary me-3"></span>&ndash;&gt;
                                <input type="checkbox" formControlName="etat" [checked]="permission.value.etat"
                                       [value]="permission.value" class="form-check-input me-3">
                                &lt;!&ndash;                                {{ permission.value.libellePermis | titlecase }}&ndash;&gt;
                              </div>
                            </ng-container>
                          </div>
                          &lt;!&ndash;end::Permissions&ndash;&gt;
                        </div>
                        &lt;!&ndash;end::Card body&ndash;&gt;
                        &lt;!&ndash;begin::Card footer&ndash;&gt;
                        &lt;!&ndash;<div class="card-footer flex-wrap pt-0">
                          <a [routerLink]="['/apps/roles', role.idRole]" class="btn btn-light btn-active-primary my-1 me-2">Afficher Role</a>
                          <button type="button" class="btn btn-light btn-active-light-primary my-1" [attr.data-id]="role.idRole" data-action="edit">Modifier Role</button>
                        </div>&ndash;&gt;
                        &lt;!&ndash;end::Card footer&ndash;&gt;
                      </div>
                      &lt;!&ndash;end::Card&ndash;&gt;
                    </ng-container>
                  </div>
                </div>
              </ng-container>-->
            </div>
            <!--<br>
            <div class="d-flex justify-content-center">
              <ngb-pagination
                [collectionSize]=totalItems #numPagesExp2
                [(page)]="pageNo"
                [pageSize]="pageSize"
                [maxSize]="5"
                [rotate]="true"
                (pageChange)="getRolesAll(entity)"
                [boundaryLinks]="true">
              </ngb-pagination>
            </div>-->
          </ng-container>
          <!--begin::Separator-->
          <div class="separator mb-8"></div>
          <!--end::Separator-->
          <!--begin::Action buttons-->
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <!--begin::Button-->
              <button type="button" [routerLink]="['/app/administration/utilisateurs']" class="btn btn-sm btn-warning me-3">
                Retour à la liste
              </button>
              <!--end::Button-->
            </div>
            <div class="d-flex justify-content-end">
              <!--begin::Button-->
              <a type="reset" class="btn btn-sm btn-light me-3">
                Annuler
              </a>
              <!--end::Button-->
              <!--begin::Submit-->
              <!--              <button type="submit" class="btn btn-sm btn-primary" [disabled]="!form.valid" (click)="onSaveEntity()">-->
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="entityForm.invalid" (click)="onSaveEntity()">
                <ng-container *ngIf="submitting">
                  <span class="indicator-progress" [style.display]="'block'">
                    Patientez svp...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </ng-container>
                <ng-container *ngIf="!submitting">
                  <span class="indicator-label">Enregistrer</span>
                </ng-container>
              </button>
              <!--end::Submit-->
            </div>
          </div>
          <!--end::Action buttons-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Layout-->
  </div>
  <!--end::Body-->
</div>
